{% extends app.path('projects','project.html') %}

{% block title %}
{% if task %}Редактирование задачи {{ task.name }}{% else %}Добавление задачи{% endif %}. Проект {{ project.name }}
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ app.path('/source/js/fancybox/','jquery.fancybox.css',true) }}">
{% endblock %}

{% block project_data %}

{% if task %}
        {% if access.edit_tasks or access.edit_task %}{% set full_edit = true %}{% endif %}
{% else %}
    {% if access.add_task %}{% set full_edit = true %}{% endif %}
{% endif %}

<form id="task_form" class="form-horizontal">
    <input type="hidden" name="act" value="save_task">
    {% if task.id %}<input type="hidden" name="id" value="{{task.id}}">{% endif %}
    {% if full_edit %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="name">Название задачи</label>
        <div class="col-md-10">
            <input type="text" name="name" id="name" class="form-control" value="{{task.name}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="description">Описание задачи</label>
        <div class="col-md-10">
            <div class="wysiwyg"><textarea rows="5" class="form-control ckeditor" name="description" id="description">{{task.description}}</textarea></div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="status">Статус</label>
        <div class="col-md-4">
            <select name="status" id="status">
                {% for s in status %}
                    <option value="{{ s }}" {% if task.status == s %}selected {% endif %}>{{ ("task_status_"~s)|lang }}</option>
                {% endfor %}
            </select>
        </div>

        <label class="col-md-2 control-label message" for="message" {% if task.status != "rejected" and task.status != "feedback" %}style='display:none;'{% endif %}>Сообщение</label>
        <div class="col-md-4 message" {% if task.status != "rejected" and task.status != "feedback" %}style='display:none;'{% endif %}>
            <textarea rows="3" class="form-control" name="message" id="message">{{task.message}}</textarea>
        </div>
    </div>
    {% if full_edit %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="priority">Приоритет</label>
        <div class="col-md-4">
            <select name="priority" id="priority">
                <option value="1" {% if task.priority == 1 %}selected{% endif %}>{{ "task_priority_1"|lang }}</option>
                <option value="2" {% if not task.priority or task.priority == 2 %}selected{% endif %}>{{ "task_priority_2"|lang }}</option>
                <option value="3" {% if task.priority == 3 %}selected{% endif %}>{{ "task_priority_3"|lang }}</option>
                <option value="4" {% if task.priority == 4 %}selected{% endif %}>{{ "task_priority_4"|lang }}</option>
            </select>
        </div>

        <label class="col-md-2 control-label" for="start">Начало</label>
        <div class="col-md-2">
            <input type="text" name="start" id="start" class="form-control" value="{{task.start|date('d.m.Y')}}">
        </div>

    </div>
    <div class="form-group">
        {% if not project.owner %}
            <label class="col-md-2 control-label" for="assigned">Исполнитель</label>
            <div class="col-md-4">
                <select name="assigned" id="assigned">
                    <option value="">&nbsp;</option>
                    {% for u in users %}
                        <option value="{{u.id_user}}" {% if u.id_user == task.assigned %}selected{% endif %}>{{u.fio}}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <div class="col-md-6"></div>
        {% endif %}

        <label class="col-md-2 control-label" for="end">Окончание</label>
        <div class="col-md-2">
            <input type="text" name="end" id="end" class="form-control" value="{% if task.end %}{{task.end|date('d.m.Y')}}{% endif %}">
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="percent">Готовность</label>
        <div class="col-md-4">
            <select name="percent" id="percent" style="width: 100px;">
                {% for i in [0,10,20,30,40,50,60,70,80,90,100] %}
                    <option value="{{i}}" {% if task.percent == i %}selected{% endif %}>{{i}} </option>
                {% endfor %}
            </select>
        </div>
        <label class="col-md-2 control-label" for="estimated_time">Расчетное время</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" name="estimated_time" id="estimated_time" class="form-control" value="{{task.estimated_time}}">
                <span class="input-group-addon">ч.</span>
            </div>
        </div>
    </div>
    {% if categories %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="category">Категория</label>
        <div class="col-md-10">
            <table style="width: 100%;">
                {% for cat in categories %}
                    <tr>
                        <td style="padding: 3px;">
                            <input type="checkbox" id="cat_{{ cat.id }}" style="margin-top: -2px;" name="category[]" value="{{ cat.id }}" {% if task_categories[cat.id] %}checked{% endif %}>
                            <label class="label label-cat" for="cat_{{ cat.id }}" style="background: {{ cat.color }};color: {{ cat.color_text }};position: relative;top:0;">
                                {{ cat.name }}
                            </label>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if full_edit %}
        <center>
            {% if access.show_files %}
            <a class="btn btn-warning" href="" add_file_to_task style="margin: 20px 0 20px 0;">Прикрепить файлы</a>
            {% endif %}
            {% if access.add_files %}<a class="btn btn-info upload_files" style="margin: 20px 0 20px 0;" href="">Загрузить файлы</a>{% endif %}
        </center>
        {% include app.path('projects','files/files_table.html') %}
    {% endif %}

    <div style="text-align: center;">
        {% if full_edit and not project.owner %}
        <div style="margin-bottom: 10px;">
        Послать уведомление&nbsp;&nbsp;
            <input type="checkbox" name="email" checked> по email&nbsp;&nbsp;
            {% if settings.send_sms.value == 1 %}<input type="checkbox" name="sms"> по смс{% endif %}
        </div>
        {% endif %}
        <button class="btn btn-large btn-primary save_task" type="button">{% if task.id %}Сохранить{% else %}Создать{% endif %}</button>
        {% if not task.id %}
            <button class="btn btn-large btn-primary save_task create_other" type="button">Сохранить и создать еще</button>
        {% endif %}
    </div>
</form>
<div class="clearfix"></div>
{% endblock %}