<form style="width: 500px;" id="percent_form">
<div style="margin: 0 0 10px 0;"><b>Готовность:</b></div>
<div id="task_percent"></div>
<input type="hidden" name="act" value="forward_task">
<input type="hidden" name="id" value="{{ task.id }}">
<input type="hidden" id="current_percent" name="current_percent" value="{{ task.percent }}">
<input type="hidden" id="new_current_percent" name="new_current_percent" value="{{ task.percent }}">
<input type="hidden" id="spent_time" name="spent_time" value="0">
<input type="hidden" id="time1_val" name="time1" value="0">
<input type="hidden" id="time2_val" name="time2" value="0">


<div style="margin-top: 10px;">
    <div>Текущий: <b>{{ task.percent }}</b> %</div>
    <div>Выбранный: <b><span id="new_percent">{{ task.percent }}</span></b> %</div>
</div>

<div style="margin: 10px 0;"><b>Статус:</b></div>
<select name="status" id="status">
    {% for s in status %}
        <option value="{{ s }}" {% if task.status == s %}selected {% endif %}>{{ ("task_status_"~s)|lang }}</option>
    {% endfor %}
</select>

<div class="message_task" {% if task.status != 'feedback' and task.status != 'rejected' %}style='display: none;'{% endif %}>
    <div style="margin-top: 10px;"><b>Сообщение:</b></div>
    <textarea name="message" style="width: 100%;height: 100px;">{{ task.message }}</textarea>
</div>

<div style="margin: 10px 0;"><b>Затраченное время</b></div>
<div id="time1"></div>
<div id="time2" style="margin-top: 15px;"></div>

<div style="margin: 10px 0; ">
    <div>Текущее: <b>{{ task.spent_time }}</b> ч</div>
    <div>Выбранное: <b>+ <span id="new_time">0</span></b> ч.</div>
</div>

<div style="margin-top: 10px;">
    Послать уведомление&nbsp;&nbsp;
    <input type="checkbox" name="email" checked> по email&nbsp;&nbsp;
    {% if settings.send_sms.value == 1 %}<input type="checkbox" name="sms"> по смс{% endif %}
</div>
</form>