{% extends app.path('projects','project.html') %}

{% block title %}
Проект "{{project.name}}"
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ app.path('/libraries/gantt/css/','style.css',true) }}" type="text/css" />
{% endblock %}

{% block js %}
    <script src="{{ app.path('/libraries/gantt/js/','jquery.fn.gantt.min.js',true) }}"></script>
    <script src="{{ app.path('projects','gantt.js') }}"></script>
{% endblock %}

{% block project_data %}
<div class="gantt" style="min-height: 50px;"></div>
{% endblock %}