<form id="get_categories_form">
    <table style="width: 100%;">
        <tr>
        {% for cat in categories %}
                <td style="width:33%;white-space: nowrap;padding-right: 20px;padding-top: 5px;">
                    <input type="checkbox" id="cat_{{ cat.id }}" style="margin-top: -2px;" name="category[]" value="{{ cat.id }}" {% if task_categories[cat.id] %}checked{% endif %}>
                    <label class="label label-cat" for="cat_{{ cat.id }}" style="background: {{ cat.color }};color: {{ cat.color_text }};position: relative;top:0;">
                        {{ cat.name }}
                    </label>
                </td>
        {% if loop.index % 3 == 0 and not loop.last %}<tr>{% endif %}
            {% if loop.last and loop.index % 3 > 0 %}
                {% for i in 1..3-loop.index % 3 %}
                    <td>&nbsp;</td>
                {% endfor %}
            {% endif %}
            {% endfor %}
    </table>
</form>