{% extends app.path('projects','project.html') %}

{% block title %}
{% if task %}Задача - {{ task.name}}{% endif %}
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/source/js/fancybox/jquery.fancybox.css">
{% endblock %}

{% block js %}
{{parent()}}
    <script type ="text/javascript" src="/source/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}

{% set undate = false %}
{% if task.end and ((now|date('Y-m-d') > task.end) and (task.status == 'new' or task.status == 'in_progress'))%}
{% set undate = true %}
{% endif %}

<ul class="nav nav-tabs" id="form_tabs">
    <li class="active"><a href="#tabs-1">Описание</a></li>
    <li><a href="#tabs-3">Логи</a></li>
</ul>

<div class="tab-content">
    <div id="tabs-1" class="tab-pane fade in active">
Статус выполнения
                    <div class="progress progress-striped {% if task.status == "in_progress" %}active{% endif %}">
                        <div class="progress-bar {% if undate %}progress-bar-danger{% endif %}" role="progressbar" aria-valuenow="{{task.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {% if task.percent > 0 %}{{task.percent}}%;{% else %}30px;{% endif %}">
                            <span>{{ task.percent }} %</span>
                        </div>
                    </div>

        <table class="table table-hover table-condensed table-border" style="margin-top:20px;" id="tasks_table">
            <thead>
            <tr>
                <th></th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Делегировано</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Расчетное время</th>
                <th>Затраченное время</th>
                <th>Добавил</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% include app.path('projects','tasks/task.html') %}
            </tbody>
        </table>
        {% if files %}
            {% include app.path('projects','files/files_table.html') %}
        {% endif %}
        <div class="wysiwyg" style="padding-bottom: 20px;">{{task.description|raw}}</div>
    </div>
    <div id="tabs-3" class="tab-pane fade">
    {% if logs %}
        <table class="table table-hover table-condensed table-border">
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Дата</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for l in logs %}
                <tr>
                    <td>
                        <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }} !important;font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
                        <div class="nickname">{{l.nickname}}</div>
                    </td>
                    <td>{{l.created|date('d.m.Y H:i:s')}}</td>
                    <td>{{l.text|raw}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>

{% if task.status != 'closed' or comments %}
<ul class="breadcrumbs-one second">
    <li><a class="current">Комментарии</a></li>
</ul>

<div class="all_comments">
    {% if comments %}
        {% for com in comments %}
            {% include app.path('projects','tasks/comment.html') %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% if task.status != 'closed' %}
<div>
    <a href="#" id="botnewcomm" style="margin-top: 10px;" class="btn btn-primary comment_to_comment" to_comment="0">Добавить комментарий</a>
    <form class="comment_form" style="display: none;">
        <input type="hidden" name="act" value="add_comment">
        <input type="hidden" name="parent" value="0">
        <input type="hidden" name="id" value="{{task.id}}">

        <textarea style="height: 100px;margin-bottom: 10px;" name="comment" class="form-control"></textarea><div class="cl"></div>
        <a href="#" class="btn btn-success add_comment"><span>Добавить</span></a>
        <a href="#" class="btn btn-danger canc_comm"><span>Отмена</span></a>
        <div class="cl"></div>
    </form>
</div>
{% endif %}
{% endblock %}