{% extends app.path('projects','project.html') %}

{% block title %}
{% if task %}Задача - {{ task.name}}{% endif %}
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/source/js/fancybox/jquery.fancybox.css">
{% endblock %}

{% block js %}
{{parent()}}
    <script type ="text/javascript" src="/source/js/ckeditor/ckeditor.js"></script>
    <script type ="text/javascript" src="/source/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}

{% set undate = false %}
{% if task.end and ((now|date('Y-m-d') > task.end) and (task.status == 'new' or task.status == 'in_progress'))%}
{% set undate = true %}
{% endif %}

<ul class="nav nav-tabs" id="form_tabs">
    <li class="active"><a href="#tabs-1">Описание</a></li>
    {% if files %}
        <li><a href="#tabs-2" style="padding-right: 30px;">Файлы <span class="label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ files|length }}</span></a></li>
    {% endif %}
    <li><a href="#tabs-3" style="padding-right: 30px;">Логи <span class="label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ logs|length }}</span></a></li>
</ul>

<div class="tab-content">
    <div id="tabs-1" class="tab-pane fade in active">
        {% if task_categories %}
            <div>
                Метки:
                {% for cat in task_categories %}
                    <div style="margin-bottom:2px;display: inline-block;"><span class="label label-cat" style="background: {{ cat.color }};color: {{ cat.color_text }}">{{ cat.name }}</span></div>
                {% endfor %}
            </div>
        {% endif %}

        <table class="table table-condensed table-border" style="width: 700px;margin-top: 20px;" id="tasks_table">
            <tr>
                <th>Приоритет</th>
                <td style="width: 1px;">{{ ("task_priority_label_"~task.priority)|lang|raw }}</td>
                <th>Начало</th>
                <td>{{task.start|date('d.m.Y')}}</td>
            </tr>
            <tr>
                <th>Статус
                    {% if task.status == "rejected" %}
                        <i class="fa fa-info-circle get_info" rel="popover" data-title="Причина отклонения" data-content="{{task.message}}"></i>
                    {% endif %}
                </th>
                <td style="width: 110px;">
                    {% set undate = false %}
                    {% if task.end and ((now|date('Y-m-d') > task.end) and (task.status == 'new' or task.status == 'in_progress'))%}
                        {% set undate = true %}
                    {% endif %}

                    <div class="progress progress-striped {% if task.status == "in_progress" %}active{% endif %}">
                        <span class="progress-value">{{ ("task_status_"~task.status)|lang }}</span>
                        <div class="progress-bar {% if undate %}progress-bar-danger{% endif %}" role="progressbar" aria-valuenow="{{task.percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.percent}}%;"></div>
                    </div>
                </td>
                <th>Окончание</th>
                <td>{% if task.end %}{{task.end|date('d.m.Y')}}{% else %}&infin;{% endif %}</td>
            </tr>
            <tr>
                <th>Делегировано</th>
                <td style="width: 200px;"><a href="/users/~{{task.assigned}}/" style="color:{{ task.assigned_color }}!important;font-weight: bold;" title="{{ task.assigned_group_name }}">{{task.assigned_name}}</a></td>
                <th>Расчетное время</th>
                <td>{% if task.estimated_time %}{{task.estimated_time}} ч.{% else %}не указано{% endif %}</td>
            </tr>
            <tr>
                <th>Добавил</th>
                <td><a href="/users/~{{task.id_user}}/" style="color:{{ task.color }} !important;font-weight: bold;" title="{{ task.group_name }}">{{task.user_name}}</a></td>
                <th>Затраченное время</th>
                <td>{{task.spent_time|default(0)}} ч.</td>
            </tr>
            <tr>
                <th>Управление</th>
                <td>
                    <div class="btn-group">
                        {% if access.edit_tasks or task.assigned == globals.user.id_user or task.id_user == globals.user.id_user or not task.assigned %}
                            {% if task.status != "closed" %}<a class="btn btn-success btn-sm" forward_task="{{task.id}}" from='{% if show_task %}show_task{% endif %}' ><i class="fa fa-forward fa-fw"></i></a>{% endif %}
                            {% if access.edit_tasks or task.id_user == globals.user.id_user %}<a class="btn btn-info btn-sm" href="/projects/tasks/edit/{{task.id}}"><i class="fa fa-pencil fa-fw"></i></a>{% endif %}
                            {% if access.delete_tasks %}<a class="btn btn-danger btn-sm" delete_task={{task.id}} from='{% if show_task %}show_task{% endif %}' href=""><i class="fa fa-trash-o fa-fw"></i></a>{% endif %}
                        {% endif %}
                    </div>
                </td>
                <th>Дедлайн</th>
                <td style="width: 1px;" {% if task.diff < 0 and task.status != "closed" %}class="task_diff_alert"{% endif %}>
                    {% if task.status != "closed" %}
                        {% if task.diff != "0" and task.diff != "inf" %}{{ task.diff }} {{ "days"|lang(task.diff) }}{% elseif task.diff == "inf" %}&infin;{% else %}сегодня{% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="wysiwyg" style="padding-bottom: 20px;">{{task.description|raw}}</div>
    </div>
    {% if files %}
    <div id="tabs-2" class="tab-pane fade">
        {% include app.path('projects','files/files_table.html') %}
    </div>
    {% endif %}
    <div id="tabs-3" class="tab-pane fade">
    {% if logs %}
        <table class="table table-hover table-condensed table-border">
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Дата</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for l in logs %}
                <tr>
                    <td>
                        <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }} !important;font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
                    </td>
                    <td>{{l.created|date('d.m.Y H:i:s')}}</td>
                    <td>{{l.text|raw}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>

{% if task.status != 'closed' or comments %}
<ul class="breadcrumbs-one second">
    <li><a class="current">Комментарии</a></li>
</ul>

<div class="all_comments">
    {% if comments %}
        {% for com in comments %}
            {% include app.path('projects','tasks/comment.html') %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% if task.status != 'closed' %}
<div>
    <a href="#" id="botnewcomm" style="margin-top: 10px;" class="btn btn-primary comment_to_comment" to_comment="0">Добавить комментарий</a>
    <form class="comment_form" style="display: none;">
        <input type="hidden" name="act" value="add_comment">
        <input type="hidden" name="parent" value="0">
        <input type="hidden" name="id" value="{{task.id}}">

        <textarea style="height: 100px;" name="comment" class="form-control"></textarea><div class="cl"></div>
        <div style="margin-top: 10px;">
            <a href="#" class="btn btn-success add_comment"><span>Добавить</span></a>
            <a href="#" class="btn btn-danger canc_comm"><span>Отмена</span></a>
        </div>
        <div class="cl"></div>
    </form>
</div>
{% endif %}
{% endblock %}