<div style="position: relative;margin-top: 10px;">{% include '/source/jpaginator_boot.html' %}
</div>
<table class="table table-hover table-condensed table-border" id="tasks_table">
    <thead>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Статус</th>
        <th>Делегировано</th>
        <th><i class="fa fa-calendar"></i></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if tasks %}
    {% for task in tasks %}
        {% include app.path('projects','tasks/task.html') %}
    {% endfor %}
    {% else %}
    <td colspan="6" id="no_file">задач нет</td>
    {% endif %}
    </tbody>
</table>
{% include '/source/jpaginator_boot.html' %}