{% extends "/source/mail.html" %}

{% block title %}
    {% if edit %}
        Изменена задача
    {% elseif delete %}
        Удалена задача
    {% else %}
        Добавлена задача
    {% endif %}
{% endblock %}

{% block body %}
{% import "/source/link_mail_macro.html" as link_mail %}
Проект {{ link_mail.format(domain,'projects/~'~id_project,name) }}. Задача {% if not delete %}{{ link_mail.format(domain,'projects/tasks/show/'~task,task_name) }}{% else %}{{ task_name }}{% endif %}
{% if message %}<div>{{ message|replace({"<s>": "<span style='text-decoration:line-through;'>", '</s>': "</span>"})|raw }}</div>{% endif %}
{% endblock %}