<div style="position: relative;margin-top: 10px;">{% include '/source/jpaginator_boot.html' %}
    <div style="position: absolute;right:0;bottom:0;"><a href="" id="show_filter">Фильтр</a></div>
</div>
<table class="table table-hover table-condensed" id="tasks_table">
    <thead>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Статус</th>
        <th>Приоритет</th>
        <th>Делегировано</th>
        <th>Статус выполнения</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if tasks %}
    {% for task in tasks %}
        {% include app.path('projects','tasks/task.html') %}
    {% endfor %}
    {% else %}
    <td colspan="6" id="no_file">задач нет</td>
    {% endif %}
    </tbody>
</table>
{% include '/source/jpaginator_boot.html' %}