{% extends app.path('projects','project.html') %}

{% block title %}
{% if news %}Редактирование новости {{ news.name }}{% else %}Добавление новости{% endif %}. Проект {{ project.name }}
{% endblock %}

{% block project_data %}
<form id="news_form" class="form-horizontal">
    <input type="hidden" name="act" value="save_news">
    {% if news.id %}<input type="hidden" name="id" value="{{news.id}}">{% endif %}

    <div class="form-group">
        <label class="col-lg-2 control-label" for="name">Название</label>
        <div class="col-lg-10">
            <input type="text" name="name" id="name" class="form-control" value="{{news.name}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="description">Текст новости</label>
        <div class="col-lg-10">
            <div class="wysiwyg"><textarea rows="5" class="form-control ckeditor" name="description" id="description">{{news.description}}</textarea></div>
        </div>
    </div>
    {% if users %}
    <div class="form-group">
        <label class="col-lg-2 control-label" for="notifications">Уведомления</label>
        <div class="col-lg-10">
            <table class="table table-bordered table-condensed" style="width: auto;">
                <tr>
                    <th>Имя</th>
                    <th style="white-space: nowrap;">Email <input type="checkbox" id="checkbox_email"></th>
                    {% if settings.send_sms.value == 1 %}
                        <th style="white-space: nowrap;">Sms <input type="checkbox" id="checkbox_sms"></th>
                    {% endif %}
                </tr>
                {% for u in users %}
                <tr>
                    <td style="white-space: nowrap;">{{u.fio}}</td>
                    <td style="text-align: right;"><input type="checkbox" class="checkbox_email" name="email[]" value="{{u.id_user}}"></td>
                    {% if settings.send_sms.value == 1 %}
                        <td style="text-align: right;"><input type="checkbox" class="checkbox_sms" name="sms[]" value="{{u.id_user}}"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    <div style="text-align: center;margin-top: 10px;">
        <button class="btn btn-large btn-primary save_news" type="button">{% if project.id %}Сохранить{% else %}Создать{% endif %}</button>
    </div>
</form>
<div class="clearfix"></div>
{% endblock %}