<tr id="news{{n.id}}">
    <td><a href="/projects/news/show/{{n.id}}/">{{n.name}}</a></td>
    <td>
        {% if ""|date('d.m.Y') == n.created|date('d.m.Y') %}
            сегодня {{ n.created|date('H:i:s') }}
        {% else %}
            {{n.created|date('d.m.Y H:i:s')}}
        {% endif %}
    </td>
    <td>
        {% if globals.user.id_user == n.author %}
            <span class="user_name">я</span>
        {% else %}
            <a href="/users/~{{n.author}}/" style="color:{{ n.color }};font-weight: bold;" title="{{ n.group_name }}">{{n.fio}}</a>
        {% endif %}
    </td>
    {% if access.news %}
    <td style="width: 75px;">
        <div class="btn-group">
            <a class="btn btn-black btn-sm" href="/projects/news/edit/{{n.id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-black btn-sm" delete_news={{n.id}} href=""><i class="fa fa-trash-o"></i></a>
        </div>
    </td>
    {% endif %}
</tr>