{% extends app.path('projects','project.html') %}

{% block title %}
{% if task %}{% endif %}
{% endblock %}

{% block js %}
{{parent()}}
    <script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}
<ul class="breadcrumbs-one second">
    <li><a class="current">{{news.created|date('d.m.Y H:i')}} |
    {{news.fio}}</a></li>
    {% if access.news %}
        <div class="btn-group" style="float: right;">
            <a class="btn btn-black btn-sm current" href="/projects/news/edit/{{news.id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-black btn-sm current" delete_news="{{news.id}}" href="" mode='inside'><i class="fa fa-trash-o"></i></a>
        </div>
    {% endif %}
</ul>
<div class="wysiwyg">{{news.description|raw}}</div>
{% endblock %}