<div class="add_html">
<form class="new_page">
    <input type="hidden" name="id" value="{{page.id}}">
    <input type="hidden" name="id_text" value="{{page.id_text}}">
    <input type="hidden" name="act" value="save">
    <ul class="nav nav-tabs" id="form_tabs">
        <li class="active"><a href="#tabs-1">Описание</a></li>
        <li><a href="#tabs-2">Текст</a></li>
    </ul>

    <div class="tab-content">
        <div id="tabs-1" class="tab-pane fade in active">
            <div class="body"><span class="title">Родительская страница</span>
                <div>
                    <select name="parent_id">
                        <option>&nbsp;</option>
                        {% for p in pages_cat %}
                            {% if p.id != page.id %}
                                <option value="{{p.id}}" {% if p.id == page.parent_id %}selected{% endif %}>{{ p.name|cut(40) }}</option>
                                {% for p in p.sub %}
                                    {% include app.path('pages','admin/nested_option.html') %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="body"><span class="title">Название</span>
                <div><input type="text" name="name" value="{{page.name}}" class="input" style="width:350px"></div></div>
            <div class="body"><span class="title">Url</span>
                <div><input type="text" name="url" value="{{page.url}}" class="input" style="width:350px"></div>
                <div class="description">допускаются английские буквы, цифры и знаки "-", "_"</div>
                <div class="description">знанение "index" сделает страницу главной</div>
            </div>
            <div class="body"><span class="title">Шаблон</span>
                <div>
                    <select name="template">
                        {% for t in templates %}
                            <option value="{{ t }}" {% if  page.template == t %}selected{% endif %}>{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="body"><span class="title">Title</span>
                <div><input type="text" name="title" value="{{page.title}}" class="input" style="width:350px"></div></div>
            <div class="body"><span class="title">Description</span>
                <div><textarea name="description" class="input" style="width:350px;height:100px;">{{page.description}}</textarea></div></div>
            <div class="body"><span class="title">Keywords</span>
                <div><input type="text" name="keywords" value="{{page.keywords}}" class="input" style="width:350px"></div></div>
        </div>
        <div id="tabs-2" class="tab-pane fade">
            <div class="body">
                <div><textarea name="text" class="input">{{page.text}}</textarea></div></div>
        </div>
    </div>
</form>
</div>