{% if groups %}
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Название</th>
            <th>Пользователей</th>
            <th colspan="2">Управление</th>
        </tr>
        </thead>
        <tbody>
        {% for g in groups %}
        {% include app.path('groups','admin/elements/group.html') %}
        {% endfor %}
        <tr>
            <td colspan="2">&nbsp;</td>
            <td colspan="2"><a title="Добавить" class="fa fa-15x fa-plus-square add-btn"></a></td>
        </tr>
        </tbody>
   </table>
{% endif %}
