{% if options %}
<table class="table table-bordered table-condensed">
    <tbody>
    {% for k,g in options %}
    {% if g.id_parent > 0 %}
        <tr class="warning">
            <td style="font-weight: bold;" colspan="2">{{ g.group_name }}</td>
            {% if dev_mode %}
                <td style="width: 1px;"><a title="Изменить" class="fa fa-edit fa-15x edit-btn edit-btn-subcategory" id="{{k}}"></a></td>
                <td style="width: 1px;"><a title="Удалить" class="fa fa-trash-o fa-15x del-btn" id="{{k}}"></a></td>
            {% endif %}
        </tr>
    {% endif %}
    {% for o in g.sub %}
    <tr>
        <td style="width:300px;padding:5px;" title="{{o.key_name}}">{{o.name}}
            <div style="font-size: 11px;">{{ o.description }}</div>
        </td>
        <td style="padding:5px;width: 4000px;">
            <form>
            {% if o.type == 'text' %}
                <input type='text' name="{{o.key_name}}" value="{{o.value}}" oname="{{o.name}}" style="width: 100%;">
            {% elseif o.type == 'textarea' %}
            <textarea name='{{o.key_name}}' class="input_text" style="height:150px;width: 100%;" oname="{{o.name}}">{{o.value}}</textarea>
            {% elseif o.type == 'checkbox' %}
            <input type='checkbox' name='{{o.key_name}}' value="{{o.value}}" oname="{{o.name}}" {% if o.value == '1' %}checked{% endif %}>
            {% elseif o.type == 'select' or o.type == 'multy_select' %}
                {% if o.options %}
                    <select oname="{{o.name}}" name="{{o.key_name}}" {% if o.type == 'multy_select' %}{% if o.options|length > 4 %}size='4'{% else %}size='{{o.options|length}}'{% endif %} multiple{% endif %}>
                    {% for k,op in o.options %}
                        <option value="{{k}}" {% if k in o.value %}selected{% endif %}>{{op}}</option>
                    {% endfor %}
                    </select>
                {% endif %}
            {% elseif o.type == 'radio' %}
                {% for k,op in o.options %}
                    <input oname="{{o.name}}" type="radio" name="{{o.key_name}}" value="{{k}}" {% if k in o.value %}checked{% endif %}>&nbsp;{{op}}&nbsp;&nbsp;
                {% endfor %}
            {% endif %}
            </form>
        </td>
        {% if dev_mode %}<td style="width: 1px;" colspan="2"><a href="/admin/options/constructor/{{o.id}}" class="fa fa-15x fa-edit edit-btn"></a></td>{% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
настроек не найдено
{% endif%}
