{% if options %}
    <div class="panel-group" id="accordion">
        {% for op in options %}
        <div class="panel panel-default">
            <div class="panel-heading get_options" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ op.id }}">
                <h4 class="panel-title">{{ op.name }}</h4>
            </div>
            <div id="collapse{{ op.id }}" class="panel-collapse collapse" data-id="{{ op.id }}">
                <div class="panel-body" data-result="{{ op.id }}">

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}