.review_table .left_column div {
    margin-bottom: 10px;
}

.right_column td {
    border-left: 0;
    border-right: 0;
}

.off_show {
    width:calc(100% - 250px + 15px * 2);
}

#show_project_panel {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent #ff0000 transparent #007bff;
    position: absolute;
    left: 0;
}

#show_project_panel_left {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 15px 25px 0;
    border-color: transparent #007bff transparent transparent;
    float: right;
}

#sidebar {
    padding-right: 0;
    z-index: 2;
    width: 250px;
    float: left;
    box-sizing: border-box;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 991px) {
  #sidebar {
      display: none;
  }

  .row-offcanvas-left {
      width:calc(100% + 15px * 2);
      padding-left: 15px;
  }

  #show_project_panel {
      display: inline-block;
  }

  .row-offcanvas-left.active {
      display: none;
  }

  #sidebar.active {
      display: block;
      width: 100%;
  }

  #sidebar.active #show_project_panel_left {
      display: block;
      margin-right: -1px;
  }


  #projects_second_panel .jumbotron {
      padding-left: 25px !important;
  }
}

.all_comments {
    overflow: hidden;
    margin-left: -20px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}

.all_comments .comment_tbl {
    width: 100%;
}
.all_comments .comment_tbl .comm_ava_td{
    width: 25px;
    vertical-align: top;
    text-align: center;
    padding-right: 5px;
}
.all_comments .comment_tbl .comm_td {
    padding-right: 10px;
}
.all_comments .comment_tbl .a_comm_ava{
    border: 1px solid #cccccc;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.all_comments .comment .comment_head {
    position: relative;
}
.all_comments .account-fio {
    font-weight: bold;
}
.all_comments .comment.own {

}

.all_comments .reply_comment {
    margin-left: 20px;
    position: relative;
}

.all_comments .comment {
    border-bottom: 1px dashed #cccccc;
    padding: 10px 0;
}
.all_comments .comment .commdate{
    display: inline-block;
    margin-left: 15px;
}

.all_comments .comment .reply_comment .comment {
    margin-left: 20px;
}

.all_comments .comment_box:hover > .comment > .folding-dot-holder {
    display: block;
}

.all_comments .comment .folding-dot-holder {
    display: none;
    height: 1px;
    position: absolute;
    width: 1px;
}
.all_comments .comment .folding-dot {
    background: url(/source/images/bg-folding-dot-light.png) repeat-x 12px;
    height: 5px;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 500px;
    z-index: 1;
}

.all_comments .comment .comment_body {
    margin-top: 5px;
}