html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    overflow-y: scroll;
    background: #fff;
    min-width: 720px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 25px;
    min-width: 720px;
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: #222;
    background-image: linear-gradient(to bottom, #111111, #222222);
    background-repeat: repeat-x;
    color: #fff;
}

#for_projects_panel {
    display: none;
}

.navbar-brand {
    font-weight: bold;
}

* {
    border-radius: 0 !important;
}

.logo_color1 {
    color: #444;
}

.logo_color2 {
    color: #f9840e;
}

#logout {
    text-decoration: none;
    font-size: 20px;
    color: #f9840e;
    text-indent: 0;
    position: absolute;
    top:5px;
    right:5px;
}

.username_in_top {
    color: #444 !important;
    text-indent: 0;
    position: absolute;
    top:5px;
    right:30px;
}

.username_in_top:hover {
    text-decoration: none;
}

a {
    color: #035980;
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

.table tbody tr.danger td {
    background-color: #ffdfe1;
}

.table tbody tr.danger td a {
    color: #860000 !important;
}

.table tbody tr.danger td .btn .fa,.dropdown-menu li .btn .fa {
    color: #fff;
}

.table {
    margin: 10px 0;
}

.table th, .table td {
    vertical-align: middle !important;
}

.table-border {
    border: 1px solid #ddd;
}

.table th {

    /*
        background: #333;
    color: #fff;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(101, 125, 138, 0.8);
    -moz-box-shadow:    0px -2px 5px 0px rgba(101, 125, 138, 0.8);
    box-shadow:         0px -2px 5px 0px rgba(101, 125, 138, 0.8);
    */
}

.table-hover tbody tr:hover td {
    background-color: #fff5e2;
}

.breadcrumb {
    margin: -10px -10px 10px -10px;
    font-size: 14px;
    background: orange;
    position: relative;
    font-weight: bold;
}

.breadcrumb.second {
    margin-top: 15px;
}

.progress {
    margin-bottom: 0px;
}

.jq-selectbox__select {
    margin-top: -2px;
}

.jq-selectbox__select,.jq-checkbox {
    background: #fff;
    box-shadow: none;
}

.jq-radio {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    border-radius: 50% !important;
}

.jq-radio.checked .jq-radio__div {
    border-radius: 50% !important;
}

.jq-selectbox__select,input[type=text],input[type=password] {
    border-bottom-color: #CCC;
}
.jq-selectbox__select {
    padding-left: 6px;
}

.jq-checkbox {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    border-radius: 0 !important;
}

.jq-selectbox__select:hover {
    background-color: #fff;
}

.jq-selectbox-wrapper {
    display: inline-block !important;
}

.form-group .checkbox {
    padding-left: 15px;
}

.radio {
    padding-left: 0;
    min-height: 12px;
}

input[readonly] {
    background: #fff !important;
    cursor: inherit;
}

input[type="file"] {
    height: inherit;
}

input,textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    transition: border 0.2s cubic-bezier(0, 0, 1, 1) 0, box-shadow 0.2s cubic-bezier(0, 0, 1, 1) 0;
    color: #555555;
    font-size: 14px;
    padding: 4px 6px;
}

.jumbotron {
    background: #fff;
    padding: 10px 15px !important;
}

.pagination_disabled a {
    cursor: default !important;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    left: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #5bb75b;
    font-size: 30px;
    padding: 5px;
    display: none;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #387038;
    text-decoration: none;
    color: #fff;
}

.user_online,.user_offline {
    font-size: 20px;
}

.user_online.small,.user_offline.small {
    font-size: 12px;
}

.user_online.big,.user_offline.big {
    font-size: 30px;
}

.user_online {
    color:green;
}

.user_offline {
    color:#777;
}

.user_online:before {
    content: "\f130";
    font-family: FontAwesome;
}

.user_offline:before {
    content: "\f131";
    font-family: FontAwesome;
}

#ui-datepicker-div {
    z-index: 100 !important;
}

.user_tasks td {
    vertical-align: top !important;
}

#filter_table {
    width: auto;
}

#filter_table td {
    vertical-align: top !important;
}

#filter_table th {
    white-space: nowrap;
}

.table_statistic td.first {
    background: #F9F9F9 !important;
    color: #333;
    border-right: 1px solid #ddd;
    font-weight: bold;
    width: 1px;
    white-space: nowrap;
}

.btn-india {
    background-color: #8500c6 !important;
    border-color: #8500c6 !important;
    color: #fff !important;
}
.btn-india:hover,
.btn-india:focus,
.btn-india:active,
.btn-india.active {
    background-color: #7400ad !important;
    border-color: #630093 !important;
    color: #fff !important;
}
.btn-india.disabled:hover,
.btn-india.disabled:focus,
.btn-india.disabled:active,
.btn-india.disabled.active,
.btn-india[disabled]:hover,
.btn-india[disabled]:focus,
.btn-india[disabled]:active,
.btn-india[disabled].active,
fieldset[disabled] .btn-india:hover,
fieldset[disabled] .btn-india:focus,
fieldset[disabled] .btn-india:active,
fieldset[disabled] .btn-india.active {
    background-color: #8500c6 !important;
    border-color: #8500c6 !important;
}

.btn-black {
    background-color: #544242 !important;
    border-color: #544242 !important;
    color: #fff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
    background-color: #463737 !important;
    border-color: #372c2c !important;
    color: #fff !important;
}
.btn-black.disabled:hover,
.btn-black.disabled:focus,
.btn-black.disabled:active,
.btn-black.disabled.active,
.btn-black[disabled]:hover,
.btn-black[disabled]:focus,
.btn-black[disabled]:active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black:hover,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black.active {
    background-color: #544242 !important;
    border-color: #544242 !important;
}

.btn-foxtrot {
    background-color: #a80000 !important;
    border-color: #a80000 !important;
    color: #fff !important;
}
.btn-foxtrot:hover,
.btn-foxtrot:focus,
.btn-foxtrot:active,
.btn-foxtrot.active {
    background-color: #8f0000 !important;
    border-color: #750000 !important;
    color: #fff !important;
}
.btn-foxtrot.disabled:hover,
.btn-foxtrot.disabled:focus,
.btn-foxtrot.disabled:active,
.btn-foxtrot.disabled.active,
.btn-foxtrot[disabled]:hover,
.btn-foxtrot[disabled]:focus,
.btn-foxtrot[disabled]:active,
.btn-foxtrot[disabled].active,
fieldset[disabled] .btn-foxtrot:hover,
fieldset[disabled] .btn-foxtrot:focus,
fieldset[disabled] .btn-foxtrot:active,
fieldset[disabled] .btn-foxtrot.active {
    background-color: #a80000 !important;
    border-color: #a80000 !important;
}

.btn-oscar {
    background-color: #00720a !important;
    border-color: #00720a !important;
    color: #fff !important;
}
.btn-oscar:hover,
.btn-oscar:focus,
.btn-oscar:active,
.btn-oscar.active {
    background-color: #005908 !important;
    border-color: #003f06 !important;
    color: #fff !important;
}
.btn-oscar.disabled:hover,
.btn-oscar.disabled:focus,
.btn-oscar.disabled:active,
.btn-oscar.disabled.active,
.btn-oscar[disabled]:hover,
.btn-oscar[disabled]:focus,
.btn-oscar[disabled]:active,
.btn-oscar[disabled].active,
fieldset[disabled] .btn-oscar:hover,
fieldset[disabled] .btn-oscar:focus,
fieldset[disabled] .btn-oscar:active,
fieldset[disabled] .btn-oscar.active {
    background-color: #00720a !important;
    border-color: #00720a !important;
}

#sidebar {
    border-right: 1px solid #ddd;
}

#sidebar .list-group a {
    background: inherit;
    border: 0;
}

#sidebar .list-group a:hover {
    background: #fff;
}

#sidebar .list-group a.active {
    background: #428BCA;
}

.tab-content {
    padding: 10px 0;
}

.jqselect.form-control {
    border: none;
    padding: 0;
}

.breadcrumbs-one{
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    /* Clear floats */
    overflow: hidden;
    padding: 0;
    list-style: none;
    position: relative;
    margin: -10px -15px 15px -15px;
}

.breadcrumbs-one li{
    float: left;
}

.breadcrumbs-one.second {
    margin-top: 15px;
    border-top: 1px solid #ccc;
}

.breadcrumbs-one li > a{
    padding: .4em 1em .3em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
    background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
    background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
    background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
    background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
}

.breadcrumbs-one li:first-child a{
    padding-left: 1em;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.breadcrumbs-one a:hover{
    background: #fff;
}

.breadcrumbs-one a::after,
.breadcrumbs-one a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.2em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

.breadcrumbs-one a::after{
    z-index: 2;
    border-left-color: #ddd;
}

.breadcrumbs-one a::before{
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}

.breadcrumbs-one a:hover::after{
    border-left-color: #fff;
}

.breadcrumbs-one .current,
.breadcrumbs-one .current:hover{
    font-weight: bold;
    background: none;
}

.breadcrumbs-one .current::after,
.breadcrumbs-one .current::before{
    content: normal;
}

.ui-datepicker-month {
    color: #000;
}

#skypedetectionswf {
    display: none;
}

.menu_text {
    display: inline;
}

.menu_icon {
    display: none;
}

.username_in_top i {
    font-size: 20px;
}

@media screen and (max-width: 1180px) {
    .menu_text {
        display: none;
    }

    .menu_icon {
        display: inline;
    }
}

.forum_fio {
    font-size:12px;
    width: 150px;
    text-align: center !important;
    padding:3px 5px !important;
    line-height: 100%;
    font-weight: bold;
    line-height: 100% !important;
}

.forum_post_date {
    font-size: 12px;
    line-height: 100%;
    padding:3px 5px !important;
    line-height: 100% !important;
}

.forum_post_action {
    float: right;
}

.forum_post_footer {
    vertical-align: top !important;
    padding:3px 5px !important;
}

.forum_fio a:hover {
    text-decoration: none;
}

.fa-12x {
    font-size: 1.2em;
}

.fa-15x {
    font-size: 1.5em;
}

.dropdown-menu li a:hover i {
    color: #000 !important;
}

.list-group-item {
    padding: 7px 10px;
}

blockquote {
    background: #eee;
    border: 1px solid #41764E;
    padding:10px;
    font-size: 14px;
    margin: 0;
}

blockquote:before {
    content: "Цитата";
    color: #fff;
    background: #41764E;
    display: block;
    padding: 2px 5px;
    font-weight: bold;
    margin: -10px -10px 10px -10px;
}

.progress {
    position: relative;
    background: #444;
    margin-top: 3px;
}

.progress-value {
    position:absolute;
    right:0;
    left:0;
    color: #fff;
    font-size: 75%;
    font-weight: bold;
    white-space: nowrap;
    padding: 0.2em 0.6em 0.3em;
}

.own_task {
   font-weight: bold;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 2px 10px;
}

#projects_info {
    position: absolute;
    background: #eee;
    z-index: 1000;
    display: none;
    right: 0;
    max-width: 600px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: 0;
}

.priority1 {
    background: #999 !important;
}

.priority2 {
    background: #5cb85c !important;;
}

.priority3 {
    background: #f0ad4e !important;
}

.priority4 {
    background: #d9534f !important;
}

.task_diff_alert {
    color:red;
    font-weight: bold;
}

#show_project_panel,#show_project_panel_left {
    cursor: pointer;
}

.img-circle {
    border-radius: 50% !important;
    margin: 0 auto;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 123px;
    max-height: 123px;
}

.user_card {
    height: 310px;
    text-align: center;
}

.user_sub_card {
    height: 285px;
    background-color: #eeeeee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
    overflow: hidden;
}

.table-condensed2 td, .table-condensed2 th {
    padding: 2px 7px !important;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 2px 5px;
}


td .label {
    position:relative;
    top:-1px;
    padding: 0 4px;
}

td .progress {
    position:relative;
    top:-1px;
}

.log_file {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.log_project {
    background-color: #8500c6;
    border-color: #8500c6;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.log_task {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.log_news {
    background-color: #544242;
    border-color: #544242;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.log_wiki {
    background-color: #a80000;
    border-color: #a80000;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.log_comment {
    background-color: darkorange;
    border-color: darkorange;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.log_forum {
    background-color: #00720a;
    border-color: #00720a;
    color: #fff;
    display: block;
    padding: 4px !important;
}

.label-cat {
    padding: 0 4px;
    border: 1px solid #ccc;
    font-size: 10px;
}





.navbar-brand {
    padding: 10px 0;
    font-size: 26px;
    text-indent: 0;
}

.pagination_projects a {
    padding: 2px 5px !important;
    text-indent: 0;
    border: none !important;
}

.pagination_projects a:hover {
    background: #eee !important;
    border: none !important;
    color: #2a6496 !important;
}








#wrapper {
    padding-left: 0;
}

/*
#wrapper.toggled {
    padding-left: 200px;
}

#wrapper.toggled .navbar-brand {
    font-size: 26px;
}
*/

.brand_full {
    display: none;
}

#user_menu {
    display: none;
}

/*
#wrapper.toggled #user_menu {
    display: block;
}

#wrapper.toggled .brand_full {
    display: inline;
}
*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    overflow-y: auto;
    background: #222;
    overflow-x: hidden;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 0px 4px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 0px 4px 0px rgba(50, 50, 50, 0.64);
}

/*
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}
*/

#page-content-wrapper {
    width: 100%;
    padding: 0;
    padding-left: 40px;
}

/*
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
    padding-left: 0;
}
*/

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-brand {
    text-indent: 7px !important;
}

/*
#wrapper.toggled .sidebar-nav li {
    text-indent: 7px;
    line-height: 25px;
}
*/

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ccc;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li.active {
    background: #428bca;
}

.sidebar-nav li.active a {
    color: #fff !important;
    font-weight: bold;
}

.sidebar_project a {
    color: #999 !important;
}

.sidebar_project.active {

}

.sidebar_project.active a {
    font-weight: normal !important;
}

.sidebar-nav li.active a {
    color: #fff;
}

.projects_in_panel {
    display: none;
}

/*
#wrapper.toggled .projects_in_panel {
    display: block;
}
*/


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 40px;
    line-height: 20px;
    margin-bottom: 0;
}
.navbar-brand {
    cursor: pointer;
    float: none;
    display: inline-block;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar_icon {
    text-indent: -10px;
    font-size: 1.5em;
}

/*
#wrapper.toggled .sidebar_icon {
    font-size: 1em;
}
*/

.sidebar_link {
    display: none;
}

/*
#wrapper.toggled .sidebar_link {
    display: inline;
}
*/

.jpaginator_project_panel {
    display: none;
}
/*
#wrapper.toggled .jpaginator_project_panel {
    display: block;
}
*/

@media(min-width:1100px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    .projects_in_panel {
        display: block;
    }

    #wrapper.toggled .projects_in_panel {
        display: none;
    }

    .sidebar-nav li {
        text-indent: 7px;
        line-height: 25px;
    }

    #wrapper.toggled .sidebar-nav li {
        line-height: 40px;
        text-indent: 10px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;
    }

    #page-content-wrapper {
        padding: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 40px;
    }

    .brand_full {
        display: inline;
    }

    #wrapper.toggled .brand_full {
        display: none;
    }

    #user_menu {
        display: block;
    }

    #wrapper.toggled #user_menu {
        display: none;
    }

    .sidebar_link {
        display: inline;
    }

    #wrapper.toggled .sidebar_link {
        display: none;
    }

    .sidebar_icon {
        font-size: 1em;
    }

    #wrapper.toggled .sidebar_icon {
        font-size: 1.5em;
    }

    .navbar-brand {
        font-size: 26px;
    }

    #wrapper.toggled .sidebar-brand {
        text-indent: 7px !important;
    }

    .jpaginator_project_panel {
        display: block;
    }

    #wrapper.toggled .jpaginator_project_panel {
        display: none;
    }
}

.jq-select-multiple {
    box-shadow: none;
    padding: 0;
}

.form-control {
    height: 30px;
}

.table_style {
    border-spacing: 0 0px;
    margin-top: 10px;
    border-collapse: separate;
}

.table_style td {
    padding: 0 8px !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    background: #f7f7f7;
}

.table_style th {
    padding: 2px 8px !important;
    border-bottom: 2px solid #5bc0de !important;
    border-top: none !important;
}

.table_style td:first-child {
    border-left: none !important;
}

.table_style td:last-child {
    border-right: none !important;
}

.table_style tr:nth-child(odd) td {
    background: none repeat scroll 0 0 #FFFFFF;
}

.table_style tbody:before {
    line-height:0;
    content:"-";
    color:white; /* to hide text */
    display:block;
    height: 5px;
}

.table_style.no_style td {
    border: none !important;
    background: none !important;
}

.table_style.no_style td:first-child,.table_style.no_style th:first-child {
    padding-left: 0 !important;
}

.table_style.no_style td:last-child,.table_style.no_style th:last-child {
    padding-right: 0 !important;
}

.table_style.no_padding_left td:first-child,.table_style.no_padding_left th:first-child {
    padding-left: 0 !important;
}

.table_style.no_padding_right td:last-child,.table_style.no_padding_right th:last-child {
    padding-right: 0 !important;
}

.minicolors-theme-bootstrap .minicolors-swatch {
    height: 24px !important;
    width: 24px !important;
}

.user_name {
    font-weight: bold;
}