html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/source/fonts/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/source/fonts/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/source/fonts/O4NhV7_qs9r9seTo7fnsVD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/source/fonts/PRmiXeptR36kaC0GEAetxsUW6j0fiq4_bYOAoMNnBhA.woff) format('woff');
}

body {
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif !important;

    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #374554;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#111111), to(#374554));
    background-image: -moz-linear-gradient(top, #111111, #374554);
    background-image: -ms-linear-gradient(top, #111111, #374554);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(100%, #374554));
    background-image: -webkit-linear-gradient(top, #111111, #374554);
    background-image: -o-linear-gradient(top, #111111, #374554);
    background-image: linear-gradient(#111111, #374554);
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
    color: #444;
    min-width: 980px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 25px;
    min-width: 980px;
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: #222;
    background-image: linear-gradient(to bottom, #111111, #222222);
    background-repeat: repeat-x;
}

#footer {
}

@media (max-device-width: 1024px) {
    #footer {
        display: none;
    }
}

#for_projects_panel {
    display: none;
}

@media screen and (max-width: 1190px) {
    #projects_panel {
        display: none;
    }
    #projects_second_panel {
        width: 100%;
        margin-left: 0;
    }
    #for_projects_panel {
        display: block;
    }
}

.credit {
    padding-top: 2px;
}

.from_top {
    height: 0px;
}

.breadcrumb {
    margin: -10px -10px 10px -10px;
    padding: 0 0 0 10px;
    background: #fff;
    font-size: 14px;
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid #49AFCD;
    position: relative;
}

.breadcrumb.second {
    margin-top: 15px;
    border-top: 1px solid #49AFCD;
}

.hero-unit {
    position: relative;
    font-size: 14px;
    border-radius: 0;
    background: #f2f2f2;
}

#skypedetectionswf {
    display: none;
}

.pagination {
    margin-bottom: 0px;
    margin-top: 0px;
}

.table tbody tr.error td {
    background-color: #ffdfe1;
}

.table tbody tr.error td a {
    color: #860000 !important;
}

.navbar {
    margin-bottom: 30px;
}

.well, .navbar-inner {
    border-radius: 0;
}

img {
    max-width: inherit;
}

* {
    border-radius: 0 !important;
}

input[readonly] {
    background: #fff !important;
    cursor: inherit;
}

input[type="file"] {
    height: inherit;
}

#ui-datepicker-div {
    z-index: 100 !important;
}

fieldset {
    border: 1px solid #DDD;
    padding: 0px;
    margin: 0 0 10px 0;
}

legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    width: inherit;
    border: none;
    line-height: inherit;
}

.hero-unit li {
    line-height: inherit;
}

.btn-purple {
    background-color: hsl(0, 0%, 16%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
    background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
    background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
    background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
    background-image: -o-linear-gradient(top, #5b5b5b, #282828);
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-india {
    background-color: hsl(214, 37%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
    background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
    background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
    background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
    background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
    background-image: linear-gradient(#7a99c1, #2c4361);
    border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
    -webkit-font-smoothing: antialiased;
}

.btn-orange {
    background-color: hsl(36, 100%, 40%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
    background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
    background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
    background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
    background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
    background-image: linear-gradient(#ffad32, #cc7a00);
    border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
    color: #fff !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-silver {
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
    background-image: linear-gradient(#134134134, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
}

.btn-oscar {
    background-color: hsl(135, 29%, 14%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#41764e", endColorstr="#192e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#41764e), to(#192e1e));
    background-image: -moz-linear-gradient(top, #41764e, #192e1e);
    background-image: -ms-linear-gradient(top, #41764e, #192e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #41764e), color-stop(100%, #192e1e));
    background-image: -webkit-linear-gradient(top, #41764e, #192e1e);
    background-image: -o-linear-gradient(top, #41764e, #192e1e);
    background-image: linear-gradient(#41764e, #192e1e);
    border-color: #192e1e #192e1e hsl(135, 29%, 8.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    -webkit-font-smoothing: antialiased;
}

.btn-foxtrot {
    background-color: hsl(0, 69%, 22%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
    background-image: -moz-linear-gradient(top, #b42121, #5e1111);
    background-image: -ms-linear-gradient(top, #b42121, #5e1111);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
    background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
    background-image: -o-linear-gradient(top, #b42121, #5e1111);
    background-image: linear-gradient(#b42121, #5e1111);
    border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.white {
    color: #fff;
}

.table {
    background: #fff;
}

.table th, .table td {
    vertical-align: middle !important;
}

.table th {
    background: #3A87AD !important;
    color: #fff;
}

.progress {
    margin-bottom: 0px;
}

td .nickname, th .nickname {
    color: #666;
    font-size: 11px;
    margin-top: -4px;
}

.wysiwyg img {
    max-width: 100%;
    height: auto !important;
}

.post img {
    max-width: 720px;
    height: auto !important;
}

.table tr:hover th {
    background-color: #3A87AD !important;
}

.new_post_count {
    text-align: right;
}

a {
    color: #2A8AAF;
}

.progress_text {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    font-weight: bold;
    margin-right: 5px;
}

.forum_fio {
    font-size:12px;
    width: 150px;
    text-align: center !important;
    padding:3px 5px !important;
    line-height: 100%;
    font-weight: bold;
    line-height: 100% !important;
}

.forum_post_date {
    font-size: 12px;
    line-height: 100%;
    padding:3px 5px !important;
    line-height: 100% !important;
}

.forum_post_action {
    float: right;
}

.forum_post_footer {
    vertical-align: top !important;
    padding:3px 5px !important;
}

.forum_fio a:hover {
    text-decoration: none;
}

.user_online,.user_offline {
    font-size: 20px;
}

.user_online.small,.user_offline.small {
    font-size: 12px;
}

.user_online.big,.user_offline.big {
    font-size: 30px;
}

.user_online {
    color:green;
}

.user_offline {
    color:#777;
}

.user_online:before {
    content: "\f130";
    font-family: FontAwesome;
}

.user_offline:before {
    content: "\f131";
    font-family: FontAwesome;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    left: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #5bb75b;
    font-size: 30px;
    padding: 5px;
    display: none;
    z-index: 1000;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #387038;
    text-decoration: none;
    color: #fff;
}

blockquote {
    background: #eee;
    border: 1px solid #41764E;
    padding:10px;
}

blockquote:before {
    content: "Цитата";
    color: #fff;
    background: #41764E;
    display: block;
    padding: 2px 5px;
    font-weight: bold;
    margin: -10px -10px 10px -10px;
}

#logout {
    text-decoration: none;
    font-size: 30px;
    color: orange;
}

.pagination_projects_panel {
    text-align: center;
    margin-top: 10px;
}

.pagination_projects_panel ul > li > a, .pagination_projects_panel ul > li > span {
    padding: 2px 6px;
}

#filter_table {
    display: none;
    width: auto;
    background: transparent;
}

#filter_table td {
     vertical-align: top !important;
     background: #fff;
     border: 1px solid #DDDDDD;
}

#filter_table th {
    border: 1px solid #DDDDDD;
    white-space: nowrap;
}

#hide_filter {
    padding-top: 30px;
    background: transparent !important;
    border: 0 !important;
    cursor: pointer;
}

.navbar .nav > li > a {
    padding: 10px 10px;
}

.username_in_top {
    color: #fff;
}

.username_in_top:hover {
    color:deepskyblue;
    text-decoration: none;
}

.form-small .control-label {
    width: 100px;
}

.form-small .controls {
    margin-left: 120px;
}

.form-medium .control-label {
    width: 180px;
}

.form-medium .controls {
    margin-left: 200px;
}

.form-xlarge .control-label {
    width: 240px;
}

.form-xlarge .controls {
    margin-left: 260px;
}

.jq-selectbox__select,.jq-checkbox,.jq-radio {
    background: #fff;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif !important;
}

.jq-selectbox__select {
    height: 28px;
    font: 14px/28px 'Open Sans', sans-serif !important;
    border-bottom-color: #CCC;
}

.jq-selectbox__select:hover {
    background-color: #fff;
}

.jq-checkbox {
    top: 0;
}

.table_statistic td {
    border: none;
}

.table_statistic td.first {
    border: none;
    background: #F9F9F9 !important;
    color: #333;
    border-right: 1px solid #ddd;
    font-weight: bold;
    width: 1px;
    white-space: nowrap;
}

.label .sublabel {
    color:yellow;
}

input[type="search"] {
    box-sizing: border-box;
}