{% extends "/source/index.html" %}

{% block title %}Календарь. Задачи сегодня{% endblock %}

{% block js %}
    <script src="/source/js/jquery.cookie.js"></script>
    <script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block context %}
<div id="projects_info"></div>
<ul class="breadcrumbs-one">
    <li><a>Задачи</a></li>
    <li>
        <a class="current">
            <span style="margin-right: 5px;"><input type="checkbox" name="d1" id="d1" class="dashboard_option" value="1" {% if mask b-and 1 %}checked{% endif %}> <label for="d1" style="margin-bottom: 0;"> Создатель</label></span>
            <span style="margin-right: 5px;"><input type="checkbox" name="d2" id="d2" class="dashboard_option" value="2" {% if mask b-and 2 %}checked{% endif %}> <label for="d2" style="margin-bottom: 0;">Делегированные</label></span>
            <span style="margin-right: 5px;"><input type="checkbox" name="d4" id="d4" class="dashboard_option" value="4" {% if mask b-and 4 %}checked{% endif %}> <label for="d4" style="margin-bottom: 0;">Ничьи</label></span>
            <span style="margin-right: 5px;"><input type="checkbox" name="d8" id="d8" class="dashboard_option" value="8" {% if mask b-and 8 %}checked{% endif %}> <label for="d8" style="margin-bottom: 0;">Чужие</label></span>
            <span style="margin-right: 5px;"><input type="checkbox" name="d16" id="d16" class="dashboard_option" value="16" {% if mask b-and 16 %}checked{% endif %}> <label for="d16" style="margin-bottom: 0;">Закрытые сегодня</label></span>
        </a>
    </li>
</ul>

<div style="margin-bottom: 10px;">Всего задач: <span class="label label-info" style="margin-right: 10px;">{{ count }}</span>Показано задач: <span class="label label-info">{{ count_show }}</span></div>
{% include app.path('projects','calendar/task_today.html') %}

<ul class="breadcrumbs-one second">
    <li><a class="current">Форумы</a></li>
</ul>

<table class="table table-hover table-condensed table-border">
    <thead>
    <tr>
        <th>Проект</th>
        <th style="width: 350px;">Количество новых сообщений</th>
    </tr>
    </thead>
    <tbody>
    {% for n in new_posts %}
        <tr>
            <td><a href="/projects/forum/new_posts/{{ n.id }}/">{{ n.name }}</a></td>
            <td>{{ n.count }}</td>
        </tr>
    {% else  %}
        <tr>
            <td colspan="2">Новых сообщений на форумах нет</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}