{% extends "/source/index.html" %}

{% block title %}Календарь. Задачи сегодня{% endblock %}

{% block js %}
    <script src="{{app.path('projects','tasks.js')}}"></script>
    <script>
        $(document).ready(function ($) {
            animate_progress_bars();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/libraries/calendar/calendar.css">
{% endblock %}

{% block context %}
<ul class="breadcrumbs-one">
    <li><a>Общая статистика</a></li>
    <li><a class="current">
        <span class="label label-info">{{count_project|default(0)}}</span> {{ "stats_projects"|lang(count_project|default(0)) }}
        <span class="label label-info">{{count_personal_tasks|default(0)}}</span> {{ "stats_personal_tasks"|lang(count_personal_tasks|default(0)) }}

        <span style="margin-left: 20px;font-weight: bold;" title='У участника с ролью "Менеджер" учитываются все задачи в проекте. У просто участника только задачи, которые создавал он'>Менеджер: </span>
        <span class="label label-info">{{manager_stats.new|default(0)}}</span> {{ "stats_tasks_new"|lang(manager_stats.new|default(0)) }}
        <span class="label label-info">{{manager_stats.in_progress|default(0)}}</span> {{ "stats_tasks_progress"|lang }}
        <span class="label label-info">{{manager_stats.closed|default(0)}}</span> {{ "stats_tasks_closed"|lang(manager_stats.closed|default(0)) }}
        <span class="label label-info">{{manager_stats.rejected|default(0)}}</span> {{ "stats_tasks_rejected"|lang(manager_stats.rejected|default(0)) }}
        </a>
    </li>
</ul>

{% include app.path('projects','calendar/task_today.html') %}

<ul class="breadcrumbs-one second">
    <li><a class="current">Форумы</a></li>
</ul>

<table class="table table-hover table-condensed table-border">
    <thead>
    <tr>
        <th>Проект</th>
        <th style="width: 350px;">Количество новых сообщений</th>
    </tr>
    </thead>
    <tbody>
    {% for n in new_posts %}
        <tr>
            <td><a href="/projects/forum/new_posts/{{ n.id }}/">{{ n.name }}</a></td>
            <td>{{ n.count }}</td>
        </tr>
    {% else  %}
        <tr>
            <td colspan="2">Новых сообщений на форумах нет</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}