<div>
    <div class="pull-right">
        <a href="">Актуальная дата</a></div>
</div>


<section class="month" style="clear: both;">
    <h2 style="text-align: center;">
        <a class="arrow" href="" change_year="dec">&larr;</a>
        <span id="year">{{year}}</span>
        <a class="arrow" href="" change_year="inc">&rarr;</a>
    </h2>
    <input type="hidden" name="year" value="{{year}}">
    <table class="table table-bordered months">
        <tr>
            <td set_month="1">{{ "month_1"|lang }}</td>
            <td set_month="2">{{ "month_2"|lang }}</td>
            <td set_month="3">{{ "month_3"|lang }}</td>
            <td set_month="4">{{ "month_4"|lang }}</td>
        </tr>
        <tr>
            <td set_month="5">{{ "month_5"|lang }}</td>
            <td set_month="6">{{ "month_6"|lang }}</td>
            <td set_month="7">{{ "month_7"|lang }}</td>
            <td set_month="8">{{ "month_8"|lang }}</td>
        </tr>
        <tr>
            <td set_month="9">{{ "month_9"|lang }}</td>
            <td set_month="10">{{ "month_10"|lang }}</td>
            <td set_month="11">{{ "month_11"|lang }}</td>
            <td set_month="12">{{ "month_12"|lang }}</td>
        </tr>
    </table>
</section>