<div>
    <div style="float: right;">
        <a href="">Актуальная дата</a></div>
</div>

<section class="month" style="clear: both;">
    <h2 style="text-align: center;">
        <a class="arrow" href="" change_year="dec">&larr;</a>
        <span id="year">{{year}}</span>
        <a class="arrow" href="" change_year="inc">&rarr;</a>
    </h2>
    <input type="hidden" name="year" value="{{year}}">
    <table class="table table-bordered months">
        <tr>
            <td set_month="1">Январь</td>
            <td set_month="2">Февраль</td>
            <td set_month="3">Март</td>
            <td set_month="4">Апрель</td>
        </tr>
        <tr>
            <td set_month="5">Май</td>
            <td set_month="6">Июнь</td>
            <td set_month="7">Июль</td>
            <td set_month="8">Август</td>
        </tr>
        <tr>
            <td set_month="9">Сентябрь</td>
            <td set_month="10">Октябрь</td>
            <td set_month="11">Ноябрь</td>
            <td set_month="12">Декабрь</td>
        </tr>
    </table>
</section>