{% include '/source/jpaginator_boot.html' %}
<table class="table table-hover table-condensed table-border">
    <thead>
    <tr>
        <th></th>
        <th>Проект</th>
        <th>Задача</th>
        {% if not show_user %}<th><i class="fa fa-comment"></i></th>{% endif %}
        <th>Статус</th>
        {% if not show_user %}<th>Делегировано</th>{% endif %}
        <th><i class="fa fa-calendar"></i></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr id="task{{task.id}}">
            <td style="width: 1px;{% if task.status == "rejected" %}padding-left:0;padding-right: 0;text-align: center;{% endif %}" class="priority{{ task.priority }}" title="{{ ("task_priority_"~task.priority)|lang }}">
                {% if task.status == "rejected" %}
                    <i class="fa fa-info-circle get_info" rel="popover" data-title="Причина отклонения" data-content="{{task.message}}"></i>
                {% endif %}
            </td>
            <td style="width: 1px;white-space: nowrap;"><a href="/projects/tasks/{{task.id_project}}/" class="get_info_project" data-id="{{ task.id_project}}">{{ task.project_name }}</a></td>
            <td><a href="/projects/tasks/show/{{task.id}}/" {% if task.task_creater == globals.user.id_user or task.id_user == globals.user.id_user %}class="own_task"{% endif %}>{{task.name}}</a>
            </td>
            {% if not show_user %}<td style="font-weight: bold;width: 1px;">{{ comment_count[task.id].count }}</td>{% endif %}
            <td style="width: 110px;height: 100%;">
                {% set undate = false %}
                {% if task.end and ((now|date('Y-m-d') > task.end) and (task.status == 'new' or task.status == 'in_progress'))%}
                    {% set undate = true %}
                {% endif %}

                <div class="progress progress-striped {% if task.status == "in_progress" %}active{% endif %}">
                    <span class="progress-value">{{ ("task_status_"~task.status)|lang }}</span>
                    <div class="progress-bar {% if undate %}progress-bar-danger{% endif %}" role="progressbar" aria-valuenow="{{task.percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.percent}}%;">
                    </div>
                </div>
            </td>
            {% if not show_user %}
            <td style="width: 1px;white-space: nowrap;">
                <a href="/users/~{{task.assigned}}/" style="color:{{ task.color }} !important;font-weight: bold;" title="{{ task.group_name }}">{{task.assigned_name}}</a>
            </td>
            {% endif %}
            <td style="width: 1px;white-space: nowrap;" {% if task.diff < 0 and task.status != "closed" %}class="task_diff_alert"{% endif %}>
                {% if task.status != "closed" %}
                    {% if task.diff != "0" and task.diff != "inf" %}{{ task.diff }} {{ "days"|lang(task.diff) }}{% elseif task.diff == "inf" %}&infin;{% else %}сегодня{% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">Задачи не найдены</td>
        </tr>
    {% endfor %}
    </tbody>
</table>