{% include '/source/jpaginator_boot.html' %}
<table class="table table-hover table-condensed table-border">
    <thead>
    <tr>
        <th></th>
        <th>Проект</th>
        <th>Задача</th>
        {% if not show_user %}<th><i class="fa fa-comment"></i></th>{% endif %}
        <th>Статус</th>
        <th>Приоритет</th>
        <th>%</th>
        {% if not show_user %}<th>Ответственный</th>{% endif %}
        <th>Deadline</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr id="task{{task.id}}" {% if task.type == "error" %}class='danger'{% endif %}>
            <td style="text-align: center;width: 10px;">{% if task.task_creater == globals.user.id_user %}<i class="fa fa-user" style="font-size: 20px;"></i>{% endif %}</td>
            <td style="width: 1px;white-space: nowrap;"><a href="/projects/~{{task.id_project}}/">{{ task.project_name }}</a></td>
            <td><a href="/projects/tasks/show/{{task.id}}/">{{task.name}}</a></td>
            {% if not show_user %}<td style="font-weight: bold;">{{ comment_count[task.id].count }}</td>{% endif %}
            <td>
                {% if task.status == "new" %}новая
                {% elseif task.status == "in_progress" %}в процессе
                {% elseif task.status == "closed" %}закрытая
                {% elseif task.status == "rejected" %}отклоненная
                    <i class="fa fa-info-circle get_info" rel="popover" data-title="Причина отклонения" data-content="{{task.message}}"></i>
                {% endif %}
            </td>
            <td>
                {% if task.priority == "1" %}<span class="label label-default">низкий</span>
                {% elseif task.priority == "2" %}<span class="label label-success">обычный</span>
                {% elseif task.priority == "3" %}<span class="label label-warning">высокий</span>
                {% elseif task.priority == "4" %}<span class="label label-important">критический</span>
                {% endif %}
            </td>
            <td style="width: 100px;">
                {% set undate = false %}
                {% if task.end and ((now|date('Y-m-d') > task.end) and (task.status == 'new' or task.status == 'in_progress'))%}
                    {% set undate = true %}
                {% endif %}

                <div class="progress progress-striped {% if task.status == "in_progress" %}active{% endif %}">
                    <div class="progress-bar {% if undate %}progress-bar-danger{% endif %}" role="progressbar" aria-valuenow="{{task.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {% if task.percent > 0 %}{{task.percent}}%;{% else %}15px;{% endif %}">
                        <span>{{ task.percent }}</span>
                    </div>
                </div>
            </td>
            {% if not show_user %}
            <td>
                <a href="/users/~{{task.assigned}}/" style="color:{{ task.color }} !important;font-weight: bold;" title="{{ task.group_name }}">{{task.assigned_name}}</a>
                <!--<div class="nickname">{{task.assigned_nickname}}</div>-->
            </td>
            {% endif %}
            <td style="width: 1px;white-space: nowrap;">
                {% if task.status != "closed" %}
                    {% if undate %}-{% endif %} {% if task.diff != "0" and task.diff != "inf" %}{{ task.diff }} {{ "days"|lang(task.diff) }}{% elseif task.diff == "inf" %}&infin;{% else %}сегодня{% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">Задачи не найдены</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include '/source/jpaginator_boot.html' %}