{% extends app.path('projects','project.html') %}

{% block title %}
    {% if news %}Редактирование учвстника{% else %}Добавление участника{% endif %}
{% endblock %}

{% block js %}
    {{parent()}}
    <script src="{{ app.path('projects','users.js') }}" xmlns="http://www.w3.org/1999/html"></script>
    <script>
        $(document).ready(function ($) {
            set_users_checkbox();
        });
    </script>
{% endblock %}

{% block project_data %}
    <form id="users_form" class="form-horizontal form-small">
        <input type="hidden" name="act" value="save_user">
        {% if user.id_user %}<input type="hidden" name="id" value="{{user.id_user}}">{% endif %}

        <div>
            <div class="form-group">
                <label class="col-lg-1 control-label"></label>
                <div class="col-lg-6">
                    <input type='text' class='form-control search_user' placeholder='Фильтр'>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label" for="name">Участник</label>
                <div class="col-lg-6">
                    {% if mode == "add" %}

                        <select name="new_user" {% if not users %}disabled{% endif %}>
                            {% for u in users %}
                                <option value="{{ u.id_user }}{{ i }}">{{ u.fio }}</option>
                            {% else %}
                                <option>Ничего не найдено</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <span style="font-weight: bold;">{{ user.fio }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label" for="role">Роль</label>
                <div class="col-lg-6">
                    <select name="role">
                        <option value="manager">Менеджер</option>
                        <option value="user" {% if user.role == "user" %}selected{% endif %}>Участник проекта</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label" for="description">Описание</label>
                <div class="col-lg-6">
                    <input type="text" name="description" value="{{ user.description }}" class="form-control">
                </div>
            </div>
            <div class="form-group" id="control-group-rights" {% if user.role == "manager" or not user %}style="display: none;"{% endif %}>
                <label class="col-lg-1 control-label" for="rights">Права</label>
                <div class="col-lg-6">
                    <table class="table table-bordered table-condensed" style="width: auto;">
                        <tr>
                            <th style="width: 150px;">Группа прав</th>
                            <th>Права</th>
                        </tr>
                        {% for k,r in rights %}
                        <tr>
                            <td><input type="checkbox" class="users_checkbox"> <span style="margin-left: 3px;">{{ r.name }}</span></td>
                            <td class="rights">
                                {% for rr in r.rights  %}
                                    <div style="margin: 5px;"><input type="checkbox" name="rights[{{ rr.id }}]" value="1" {% if rr.id in have_rights %}checked{% endif %}> <span style="margin-left: 3px;">{{ rr.name }}</span></div>
                                {% endfor  %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div style="text-align: center">
                <button class="btn btn-lg btn-primary save_user" type="button">{% if project.id %}Сохранить{% else %}Создать{% endif %}</button>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
{% endblock %}