{% extends app.path('projects','project.html') %}

{% block title %}
Участники {{project.name}}{% endblock %}

{% block project_data %}
    <div class="get_script" style="display: none;" data-path="{{ app.path('projects','users.js') }} }}"></div>
    {% include "/source/search_form.html" %}
    <form action="" id="search_form" method="post" class="form-horizontal" style="margin: 0px;float: left;">
        <input type="hidden" name="page" value="">
    </form>
    <div class="clearfix"></div>
    <div id="search_result">
        {% include app.path('projects','users/users_table.html') %}
    </div>
{% endblock %}