<div>{% include '/source/jpaginator_boot.html' %}</div>

{% for u in users %}
    <div class="users_div" style="height: 200px;overflow: hidden;">
        <div style="width: 100px;text-align: center;" class="users_sub_div">
            <a href="/users/~{{u.id_user}}/" class="pajax">
                <img class="users_avatar" src="{% if u.avatar %}/uploads/users/ava_middle/{{u.avatar|real_path}}{% else %}/source/images/no-ava-small{% if u.gender == "f" %}_f{% endif %}.jpg{% endif %}" title="{{u.fio}}">
            </a>
            <div>
                <span style="font-weight: bold;">{{ ('role_'~u.role)|lang }}</span>
                {% if u.role != 'manager' %}

                        <i class="fa fa-info-circle get_info" rel="popover" data-html='true' data-content="{{task.message}}
                    {% for r in u.rights %}
                        {% if group != rights[r].id_access_group %}
                            {% set group = rights[r].id_access_group %}
                                {% if not loop.first %}<hr style='margin: 5px 0;'>{% endif %}
                        {% endif %}
                        {{ rights[r].name }}{% if not loop.last %} <br> {% endif %}
                    {% else %}
                        права отсутствуют
                    {% endfor %}
                    "></i>
                {% endif %}
            </div>
            <div class="btn-group" style="margin-top: 20px;">
                <a class="btn btn-primary btn-sm pajax" href="/projects/users/edit/{{ project.id }}/{{ u.id_user }}/"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-primary btn-sm" href="" delete_project_user="{{ u.id_user }}"><i class="fa fa-trash-o"></i></a>
            </div>
        </div>
        <div style="width: 170px;padding-left: 10px;" class="users_sub_div">
            <div style="margin-top: 0;" class="user_name"><a href="/users/~{{u.id_user}}/" style="color:{{ u.color }};" class="pajax">{{u.last_name}} {{u.first_name}}</a>
                <div class="get_ms_status user_offline" data-id="{{u.id_user}}"></div>
            </div>
            <small><div class="nickname">{{ u.description }}</div>
                {% if u.last_user_action %}
                    {% if ''|date('d.m.Y') == u.last_user_action|date('d.m.Y') %}<span style="color:red">сегодня</span> в {{ u.last_user_action|date('H:i') }}
                    {% else %}
                        {{ u.last_user_action|date('d.m.Y H:i') }}
                    {% endif %}
                {% endif %}
            </small>
            <div><span style="white-space: nowrap;"><span class="label label-info">{{stats[u.id_user].all|default(0)}}</span> {{ "stats_tasks_all"|lang }}</span></div>
            <div><span style="white-space: nowrap;"><span class="label label-info">{{stats[u.id_user].new|default(0)}}</span> {{ "stats_tasks_new"|lang(stats[u.id_user].new|default(0)) }}</span></div>
            <div><span style="white-space: nowrap;"><span class="label label-info">{{stats[u.id_user].in_progress|default(0)}}</span> {{ "stats_tasks_progress"|lang }}</span></div>
            <div><span style="white-space: nowrap;"><span class="label label-info">{{stats[u.id_user].closed|default(0)}}</span> {{ "stats_tasks_closed"|lang(stats[u.id_user].closed|default(0)) }}</span></div>
            <div><span style="white-space: nowrap;"><span class="label label-info">{{stats[u.id_user].rejected|default(0)}}</span> {{ "stats_tasks_rejected"|lang(stats[u.id_user].rejected|default(0)) }}</span></div>
        </div>
        <div style="width: 160px;padding-left: 10px;" class="users_sub_div">
            <div style="font-size: 12px;">
                <div>
                    <a>Написать сообщение</a>
                </div>
                <div>
                    <a>Видеозвонок</a>
                </div>
                <div style="margin-bottom: 10px;">
                    <a>Отправить письмо</a>
                </div>

                <div>
                    {% if u.skypename %}<span style="font-weight: bold;">Skype: </span><a href="skype:{{u.skypename}}?chat">{{ u.skypename }}</a>
                    {% endif %}
                </div>
                <div>
                    {% if u.mphone %}<span style="font-weight: bold;">М. тел:</span> {{ u.mphone }}{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div style="margin-right: 15px;">{% include '/source/jpaginator_boot_if.html' %}</div>