<!DOCTYPE html>
<html>
    <head>
        <title>Панель управления</title>
        <script src="/source/js/head.min.js"></script>
        <link rel="stylesheet" href="/source/css/jquery.jgrowl.css" type="text/css" media="screen, projection" />
        <link href="/source/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/source/admin/css/styler/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/source/css/notifications.css" type="text/css">
        <script>
            head.js(
             "/source/js/jquery.min.js",
             "/source/js/jquery.jgrowl_minimized.js",
             "/source/js/functions.js",
             "/source/js/message.js",
             "/applications/index/source/js/login.js"
             );
        </script>
    </head>
    <body>
        <div class="top_div">Панель управления сайтом <a href="/" target="_blank">{{ settings.site_name.value }}</a></div>
        <div class="container">

            <form class="form-signin" id="login_form">
                <h2 class="form-signin-heading">Пожалуйста, авторизуйтесь</h2>
                <input type="hidden" name="act" value="login">
                <input type="text" placeholder="Email" autofocus name="login" style="display: block;width: 100%;">
                <input type="password" placeholder="Password" name="password" style="display: block;width: 100%;">
                <button class="btn btn-primary btn-block" id="login">Войти</button>
            </form>

        </div>
    </body>
</html>


