<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Панель управления</title>
        <script src="/source/js/head.min.js"></script>
        <link rel="stylesheet" href="/source/css/jquery.jgrowl.css" type="text/css" media="screen, projection" />
        <script src="/source/js/jquery.min.js"></script>
        <script>
            head.js(
             "/source/js/jquery.min.js",
             "/source/js/jquery.jgrowl_minimized.js",
             "/source/js/functions.js",
             "/source/js/message.js",
             "/applications/index/source/js/login.js"
             );
        </script>
        <link rel="stylesheet" href="/source/css/admin.css" type="text/css" />
        <link rel="stylesheet" href="/source/css/notifications.css" type="text/css">
    </head>
    <body style="height: auto;">
    <div class="admin_logo"><img src="{{app.path('index','admin_logo.png')}}"></div>
    <div class="login_title">Система управления сайтом</div>
    <center>
        <div class="login_block">
            <form id="login_form">
                <input type="hidden" name="act" value="login">
                <table class="login_form" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="login_form_title">логин:&nbsp;</td>
                        <td><input type="text" name="login" class="input"></td>
                    </tr>
                    <tr>
                        <td style="padding-top:12px;" class="login_form_title">пароль:&nbsp;</td>
                        <td style="padding-top:12px;"><input type="password" name="password" class="input"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top:10px;" align="right"><input type="button" value="Войти" class="button" id="login"></td>
                    </tr>
                </table>
            </form>
        </div>
    </center>
    </body>
</html>


