{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-striped table-condensed mt15">
    <thead>
        <tr>
            <th width="200">Тип</th>
            <th width="300">Пользователь</th>
            <th width="150">Дата</th>
            <th width="150">IP</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
    {% for i in logs %}
        {% include '/applications/logs/layouts/admin/list.html' %}
    {% else %}
        <tr><td colspan="5">Ничего не найдено</td></tr>
    {% endfor %}
    </tbody>
</table>
