{% if paginator.num_list %}
    <div id="news-paginator">
        <div id="news-page">
        {% for i in paginator.num_list %}
            {% if loop.first and i != 1 %}
                <a href="{{paginator.url(1)}}">1</a>
                    {% if i>2 %}<span>&nbsp;...</span>{% endif %}
            {% endif %}

            {% if i == paginator.current_page %}
                <a href="" class="current">{{i}}</a>
            {% else %}
                <a href="{{paginator.url(i)}}">{{i}}</a>
            {% endif %}

            {% if loop.last and i != paginator.get_pages %}
                {% if i< paginator.get_pages-1 %}<a href="" onclick="return false;">...</a>{% endif %}
                <a href="{{paginator.url(paginator.get_pages)}}">{{paginator.get_pages}}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}
