{% extends app.path('projects','project.html') %}

{% block title %}
{% if documents %}Редактирование документа{% else %}Добавление документа{% endif %}. Проект {{ project.name }}
{% endblock %}

{% block project_data %}
<form id="documents_form" class="form-horizontal">
    <input type="hidden" name="act" value="save_documents">
    {% if documents.id %}<input type="hidden" name="id" value="{{documents.id}}">{% endif %}
    <div class="form-group">
        <label class="col-lg-2 control-label" for="name">Название</label>
        <div class="col-lg-10">
            <input type="text" name="name" id="name" class="form-control" value="{{documents.name}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="description">Текст</label>
        <div class="col-lg-10">
            <div class="wysiwyg"><textarea rows="5" class="form-control ckeditor" name="description" id="description">{{documents.description}}</textarea></div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 10px;">
        <button class="btn btn-large btn-primary save_documents" type="button">{% if project.id %}Сохранить{% else %}Создать{% endif %}</button>
    </div>
</form>
<div class="clearfix"></div>
{% endblock %}