{% extends app.path('projects','project.html') %}

{% block title %}
Проект "{{project.name}}"
{% endblock %}

{% block js %}
{{ parent() }}
<script type ="text/javascript" src="/source/js/search.js"></script>
<script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}
{% include "/source/search_form.html" %}
<div class="clearfix"></div>
<div id="search_result">
    {% include app.path('projects','documents/documents_table.html') %}
</div>
{% endblock %}