<tr id="documents{{n.id}}">
    <td><a href="/projects/documents/show/{{n.id}}/" class="pajax">{{n.name}}</a></td>
    <td>
        {% if ""|date('d.m.Y') == n.created|date('d.m.Y') %}
            сегодня {{ n.created|date('H:i') }}
        {% else %}
            {{n.created|date('d.m.Y H:i')}}
        {% endif %}
    </td>
    <td>
        {% if globals.user.id_user == n.author %}
            <span class="user_name">я</span>
        {% else %}
            <a href="/users/~{{n.author}}/" style="color:{{ n.color }};font-weight: bold;" title="{{ n.group_name }}">{{n.fio}}</a>
        {% endif %}
    </td>
    {% if access.documents %}
    <td style="width: 75px;">
        <div class="btn-group pull-right">
            <a class="btn btn-foxtrot btn-sm pajax" href="/projects/documents/edit/{{n.id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-foxtrot btn-sm" delete_documents={{n.id}} href=""><i class="fa fa-trash-o"></i></a>
        </div>
    </td>
    {% endif %}
</tr>