<tr id="documents{{n.id}}">
    <td><a href="/projects/documents/show/{{n.id}}/">{{n.name}}</a></td>
    <td>{{n.created|date('d.m.Y H:i:s')}}</td>
    <td><a href="/users/~{{n.author}}/" style="color:{{ n.color }};font-weight: bold;" title="{{ n.group_name }}">{{n.fio}}</a></td>
    {% if access.documents %}
    <td style="width: 74px;">
        <div class="btn-group">
            <a class="btn btn-foxtrot btn-sm" href="/projects/documents/edit/{{n.id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-foxtrot btn-sm" delete_documents={{n.id}} href=""><i class="fa fa-trash-o"></i></a>
        </div>
    </td>
    {% endif %}
</tr>