{% extends app.path('projects','project.html') %}

{% block title %}
    Wiki - {{ documents.name }}. Проект {{ project.name }}
{% endblock %}

{% block project_data %}
<div class="breadcrumbs-one second">
    <span><a class="current">{{documents.created|date('d.m.Y H:i')}} |
            {{documents.fio}}</a></span>
    {% if access.documents %}
        <div class="btn-group" style="float: right;">
            <a class="btn btn-foxtrot btn-sm current pajax" href="/projects/documents/edit/{{documents.id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-foxtrot btn-sm current" delete_documents="{{documents.id}}" href="" mode='inside'><i class="fa fa-trash-o"></i></a>
        </div>
    {% endif %}
</div>
<div class="wysiwyg">{{documents.description|raw}}</div>
{% endblock %}