{% extends "/source/admin/index.html" %}
{% block title %}
    &rarr; Новости
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/source/js/fancybox/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="/source/css/jcrop/jquery.Jcrop.css">
{% endblock %}
{% block js %}
    ,"/source/js/search.js"
    ,"/source/js/fancybox/jquery.fancybox.pack.js"
    ,"{{app.path('news','news_admin.js')}}"
    ,"/source/js/jquery.form.js"
    ,"/source/js/jquery.Jcrop.min.js"
    ,"/source/js/jquery.color.js"
    ,"/source/js/ckeditor/ckeditor.js"
    ,"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/i18n/jquery-ui-i18n.min.js"
{% endblock %}
{% block body %}
<form action="" id="search_form" method="post" style="margin-bottom:20px;">
    Поиск:&nbsp;<input type="text" name="search" class="input">
    <input type="hidden" name="page">
    {% for k,f in form%}
    &nbsp;{{f.label}}
        {% if f.type == 'select' %}
            &nbsp;<select name="{{k}}">
                {% for j,o in f.options %}
                <option value="{{j}}" {% if f.selected == j %}selected{% endif %}>{{o}}</option>
                {% endfor %}
            </select>
        {% endif %}
    {% endfor %}
</form>

<div id="search_result">{% include app.path('news','admin/pages_table.html') %}</div>

{% endblock %}
