{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-striped table-condensed" all_pages>
    <thead>
    <tr>
        <th width="310">Заголовок</th>
        <th>Дата</th>
        <th width="2000">Краткое описание</th>
        <th colspan="2">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for i in pages %}
    {% include app.path('news','admin/pages-list.html') %}
    {% else %}
    <tr><td colspan="5">Ничего не найдено</td></tr>
    {% endfor %}
    <tr>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"><a title="Добавить" class="fa fa-plus fa-15x add-btn"></a></td>
    </tr>
    </tbody>
</table>
