<div class="add_html">
<form class="new_page" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{page.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="change_image">
    <input type="hidden" name="main_image" value="{{main_image}}">
    <div id="tabs">
        <ul>
                <li><a href="#tabs-1">Описание</a></li>
                <li><a href="#tabs-2">SEO</a></li>
                <!--<li><a href="#tabs-3">Изображения</a></li>-->
        </ul>
        <div id="tabs-1">
            <!--<div class="body"><span class="title">Показывать всегда</span>
                <input type="checkbox" name="always" value="1" {% if page.always %}checked{% endif %} style='display:inline-block;'></div>-->
            <div class="body"><span class="title">Дата</span>
                <div><input type="text" name="created" value="{{page.created}}" class="input" style="width:350px"></div></div>
            <div class="body"><span class="title">Заголовок</span>
                <div><input type="text" name="name" value="{{page.name}}" class="input" style="width:650px"></div></div>
            <div class="body"><span class="title">Текст</span>
                <div><textarea name="text" class="input" style="width:400px;height: 200px;">{{page.text}}</textarea></div></div>
        </div>
        <div id="tabs-2">
            <div class="body"><span class="title">H1</span>
                <div><input type="text" name="h1" value="{{page.h1}}" class="input" style="width:650px"></div></div>
            <div class="body"><span class="title">Title</span>
                <div><input type="text" name="title" value="{{page.title}}" class="input" style="width:650px"></div></div>
            <div class="body"><span class="title">Description</span>
                <div><textarea name="description" class="input" style="width:650px;height:100px;">{{page.description}}</textarea></div></div>
            <div class="body"><span class="title">Keywords</span>
                <div><input type="text" name="keywords" value="{{page.keywords}}" class="input" style="width:650px"></div></div>
        </div>
        <!--
         <div id="tabs-3" style="max-width:700px;">
             <div class="crop" style="display:none;">
                 <div style="text-align:center;margin-top:10px;"><input type="button" value="Вернуться к изображениям" class="button return_to_images"></div>
             </div>
            <div class="after_crop">
                {% for image in images %}
                <table style="padding:3px;border:3px solid silver;float:left;margin-right:5px;margin-top:5px;">
                    <tr><td align="center"><a class="fancybox" rel="main" href="/uploads/news/news_big/{{image.image|real_path}}"><img src="/uploads/news/news_small/{{image.image|real_path}}?rand={{rand}}"></a></td></tr>
                    <tr><td valign="bottom" align="center"><a href="" delete="{{image.image}}">удалить</a>
                            <input type="hidden" name="delete_images[]" value="">
                     </td></tr>
                    <tr><td valign="bottom" align="center"><a href="" set_main="{% if image.main %}1{% else %}0{% endif %}" image="{{image.image}}">{% if image.main %}<span style="color:red;">главное</span>{% else %}не главное{% endif %}</a>
                    </td></tr>
                    <tr><td valign="bottom" align="center"><a href="" crop="/uploads/news/news_middle/{{image.image|real_path}}" crop_data="{{image.crop}}">кроп </a> <a href="" class="remove_crop" style="display:none;">| отмена</a>
                        <input type="hidden" name="crop[{{image.id}}]" value="" class="crop_data">
                    </td></tr>
                </table>
                {% endfor %}

                <div style="clear:both;padding-top:20px;"><a href="" class="add_images">добавить поле</a></div>
                <div style="margin-top:5px;"><input type="file" name="images[]"></div>
            </div>
        </div>-->
    </div>
</form>
</div>