{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-condensed table-striped" all_pages>
    <thead>
    <tr>
        <th width="250">Название</th>
        <th width="250">Задача</th>
        <th width="250">Параметры запуска</th>
        <th width="200">Последний запуск</th>
        <th width="200">Завершение</th>
        <th width="200">Следующий запуск</th>
        <th width="200">Статус</th>
        <th>Ошибка</th>
        <th colspan="3">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for i in tasks %}
    {% include '/applications/tasks/layouts/admin/tasks-list.html' %}
    {% else %}
    <tr><td colspan="11">Ничего не найдено</td></tr>
    {% endfor %}
    <tr>
        <td colspan="8">&nbsp;</td>
        <td colspan="3"><a title="Добавить" class="fa fa-15x fa-plus add-btn"></a></td>
    </tr>
    </tbody>
</table>
