{% extends ajax_data ? "/source/ajax_wrapper.html" : "/source/wrapper_index.html" %}

{% block title %}Диалоги{% endblock %}

{% block js %}
    <script>
        setTimeout(function() {
            scroll_to_last();
            update_count_not_read();
        },200);
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron" style="position: relative;">
        <input type="hidden" name="not_read" value="{{ not_read }}">
        {% include "/source/crumbs.html" %}
        <div class="all_messages_box">
            <table class="all_messages table table-hover table_style no_before">
                {% if count > 20 %}
                    <tr style="">
                        <td style="padding:5px;background: #eee;cursor: pointer;text-align: center;" colspan="3" id="get_old"><div>Предыдущие</div></td>
                    </tr>
                {% endif %}
                {% include '/applications/users/layouts/elements/dialog_message.html' %}
            </table>
        </div>
        Звуковые уведомления: <input type="checkbox" name="sound_trigger" checked>
        <form id='message_form'>
            <input type='hidden' name='act' value='send'>
            <input type='hidden' name='last_message' value='{% for m in messages %}{% if loop.last %}{{m.id}}{% endif %}{% endfor %}'>
            <input type='hidden' name='id_dialog' value='{{id_dialog}}'>
            <table style="margin: 25px auto 0;width:100%;">
                <tr>
                    <td></td>
                    <td  style="padding: 0 13px 3px;">Написать сообщение:</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 1px;">
                        <a href='/users/~{{globals.user.id_user}}/'><img src="{% if globals.user.avatar %}/uploads/users/ava_small/{{globals.user.avatar|real_path}}{% else %}/source/images/no-ava-small{% if globals.user.gender == "f" %}_f{% endif %}.jpg{% endif %}"></a>
                    </td>
                    <td style="padding: 0 13px;">
                        <textarea name='message' style='width:100%;height:96px;border-color: #eee;'></textarea>
                    </td>
                    <td style="width: 118px;white-space: nowrap;">
                        {% set users_count = users|length %}
                        {% set i = 1 %}
                        {% for u in users %}
                            {% if globals.user.id_user != u.id_user and i < 5 %}
                                {% if users_count > 2 %}<div class="dialogs_inline_chatter {% if users_count == 3 %}dialogs_inline_chatter_half {% endif %}">{% endif %}
                                <a href="/users/~{{u.id_user}}/">
                                    <img {% if users_count > 3 %}width="45" height="45" {% endif %} {% if users_count > 2 %}class="dialogs_inline_chatter {% if users_count == 3 %}dialogs_inline_chatter_half {% endif %}" {% endif %} src="{% if u.avatar %}/uploads/users/ava_small/{{u.avatar|real_path}}{% else %}/source/images/no-ava-small{% if u.gender == "f" %}_f{% endif %}.jpg{% endif %}">
                                </a>
                                {% if users_count > 2 %}</div>{% endif %}
                                {% set i = i+1 %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding: 7px 13px 0;">
                        <a href="" class="btn btn-primary" id="send_message_from_dialog"><span>Отправить</span></a>
                        <a href="" class="btn btn-warning" id="invite_to_dialog"><span>Пригласить в диалог</span></a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}