{% extends "/source/index.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{app.path('users','users.css')}}">
<link rel="stylesheet" type="text/css" href="{{ app.path('/source/js/minicolors/','jquery.minicolors.css',true) }}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ app.path('/source/js/minicolors/','jquery.minicolors.min.js',true) }}"></script>
<script type="text/javascript" src="{{app.path('users','edit.js')}}"></script>
{% endblock %}

{% block context %}
{% include "/source/crumbs.html" %}
<div class="content">
<div class="col-xs-8">
    <div class="panel panel-default">
    <div class="panel-heading">Информация</div>
    <div class="panel-body">
    <form class="form-horizontal" id="edit_profile" method="POST">
        <input type="hidden" name="act" value="save_profile">
        <input type="hidden" name="id" value="{{ user.id_user }}">
        <div class="form-group">
            <label class="col-lg-2 control-label" for="fio">Имя</label>
            <div class="col-lg-10">
                <input type="text" name="first_name" id="first_name" value="{{user.first_name}}" class="form-control" />
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="fio">Фамилия</label>
            <div class="col-lg-10">
                <input type="text" name="last_name" id="last_name" value="{{user.last_name}}" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="birthday">Дата Рождения:</label>
            <div class="col-lg-10">
                <input type="text" name="birthday" id="birthday" value="{{user.birthday}}" readonly />
            </div>
        </div>
        {% for p in user.profile %}
        <div class="form-group">
            <label class="col-lg-2 control-label" for="{{p.name}}">{{p.alias}}:</label>
            <div class="col-lg-10">
                {% if p.type == 'text' %}
                    <input type="text" name="{{p.name}}" id="{{p.name}}" value="{{p.value}}" class="form-control" />
                {% elseif p.type == 'textarea' %}
                    <textarea class="form-control" name="{{p.name}}" rows="10" id="{{p.name}}">{{p.value}}</textarea>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <label class="col-lg-2 control-label" for="tz">Часовой пояс:</label>
            <div class="col-lg-10">
                <select id="tz" name="tz" class="form-control">
                    {% for k,t in tz %}
                        <option {% if user.tzOffset == k %}selected{% endif %} title="{{ t }}" value="{{ k }}">{{ t }}</option>
                    {% endfor %}
                </select>
                <div style="white-space: nowrap;">Часовой пояс на вашем компьютере: <span id="localTZ"></span></div>
                <a href="" class="btn btn-primary" id="save_profile" style="margin-top: 20px;">Сохранить профиль</a>
            </div>
        </div>
    </form>
    </div>
</div>
</div>
    {% if not user.new %}

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Смена пароля</div>
            <div class="panel-body">
                <form id="change_password_form" class="form-horizontal">
                    <input type="hidden" name="act" value="change_password">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div><input type="password" class="form-control" name="old_pass" placeholder="Текущий пароль" value="" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div><input type="password" class="form-control" name="new_pass" placeholder="Новый пароль" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div><input type="password" class="form-control" name="repeat_pass" placeholder="Повтор пароля" /></div>
                            <a class="btn btn-primary" href="" id="change_password" style="margin-top: 10px;">Сменить пароль</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Смена адреса электронной почты</div>
            <div class="panel-body">
                <form {% if user.changemail %}style="display: none;"{% endif %} id="change_email_form" class="form-horizontal">
                    <input type="hidden" name="act" value="change_email">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div><input type="text" class="form-control" readonly="readonly" name="old_email" value="{{globals.user.email}}" placeholder="Текущий e-mail" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div><input type="text" class="form-control" name="new_email" value="" placeholder="Новый email"></div>
                            <div>Вам необходимо иметь доступ к обоим почтовым ящикам, на них будет выслано два уникальных кода подтверждения операции</div>
                            <a class="btn btn-primary" href="" id="change_email" style="margin-top: 10px;">Сменить адрес</a>
                        </div>
                    </div>
                </form>
                <div id="not_change_email" {% if not user.changemail %}style="display: none;"{% endif %}>
                    <div>
                        На данный момент вы находитесь в процессе смены адреса электронной почты. Вам необходимо подтвердить
                        <span id="emails">
                        {% for k,v in user.changemail %}
                            <span style="color:#FF5400;">{{v.email}}</span>{% if not loop.last %} и {% endif %}{% endfor %}
                        </span>
                    </div>
                    <a class="btn btn-danger" href="#" id="cancel_change_email" style="margin-top: 10px;">Отменить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endif %}
</div>
{% endblock %}