{% extends "/source/index.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{app.path('users','users.css')}}">
<link rel="stylesheet" type="text/css" href="/source/js/miniColors/jquery.miniColors.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="/source/js/miniColors/jquery.miniColors.min.js"></script>
<script type="text/javascript" src="{{app.path('users','edit.js')}}"></script>
{% endblock %}

{% block context %}
{% include "/source/crumbs.html" %}
<div class="content">
    <form class="form-horizontal span6" id="edit_profile" method="POST">
        <input type="hidden" name="act" value="save_profile">
        <input type="hidden" name="id" value="{{ user.id_user }}">
        <div class="control-group">
            <label class="control-label" for="fio">ФИО</label>
            <div class="controls">
                <input type="text" name="fio" id="fio" value="{{user.fio}}" class="span12" />
             </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="nickname">Ник</label>
            <div class="controls">
                <input type="text" name="nickname" id="nickname" value="{{user.nickname}}" class="span12" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="birthday">Дата Рождения:</label>
            <div class="controls">
                <input type="text" name="birthday" id="birthday" value="{{user.birthday}}" readonly />
            </div>
        </div>
        {% for p in user.profile %}
        <div class="control-group">
            <label class="control-label" for="{{p.name}}">{{p.alias}}:</label>
            <div class="controls">
                {% if p.type == 'text' %}
                    <input type="text" name="{{p.name}}" id="{{p.name}}" value="{{p.value}}" class="span12" />
                {% elseif p.type == 'textarea' %}
                    <textarea class="span12" name="{{p.name}}" rows="10" id="{{p.name}}">{{p.value}}</textarea>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="control-group">
            <label class="control-label" for="tz">Часовой пояс:</label>
            <div class="controls">
                <select id="tz" name="tz">
                    <option
                    {% if user.tzOffset == '-39600' %}selected='selected'{% endif %} title="[UTC − 11] о. Мидуэй,
                    Самоа" value="-39600">[UTC − 11:00] о. Мидуэй, Самоа</option>
                    <option
                    {% if user.tzOffset == '-36000' %}selected='selected'{% endif %} title="[UTC − 10] Гавайи"
                    value="-36000">[UTC − 10:00] Гавайи</option>
                    <option
                    {% if user.tzOffset == '-34200' %}selected='selected'{% endif %} title="[UTC − 9:30] Маркизские
                    острова" value="-34200">[UTC − 09:30] Маркизские острова</option>
                    <option
                    {% if user.tzOffset == '-32400' %}selected='selected'{% endif %} title="[UTC − 9] Аляска"
                    value="-32400">[UTC − 09:00] Аляска</option>
                    <option
                    {% if user.tzOffset == '-28800' %}selected='selected'{% endif %} title="[UTC − 8]
                    Североамерик. тихоокеанское время (США и Канада) и Тихуана" value="-28800">[UTC − 08:00]
                    Североамерик. тихоокеанское время (США и Канада) и Тихуана</option>
                    <option
                    {% if user.tzOffset == '-25200' %}selected='selected'{% endif %} title="[UTC − 7] Горное время
                    (США), Мексика (Чиуауа, Ла-Пас, Масатлан)" value="-25200">[UTC − 07:00] Горное время (США), Мексика
                    (Чиуауа, Ла-Пас, Масатлан)</option>
                    <option
                    {% if user.tzOffset == '-21600' %}selected='selected'{% endif %} title="[UTC − 6] Мексика
                    (Гвадалахара, Мехико, Монтеррей), Центральная Америка, Центральное время (США и Канада)"
                    value="-21600">[UTC − 06:00] Мексика (Гвадалахара, Мехико, Монтеррей), Центральная Америка, Центральное
                    время (США и Канада)</option>
                    <option
                    {% if user.tzOffset == '-18000' %}selected='selected'{% endif %} title="[UTC − 5]
                    Североамерик. восточное время (США и Канада), Южноамерик. тихоокеанское время (Богота, Лима,
                    Кито)" value="-18000">[UTC − 05:00] Североамерик. восточное время (США и Канада), Южноамерик. тихоокеанское время (Богота, Лима, Кито)</option>
                    <option
                    {% if user.tzOffset == '-16200' %}selected='selected'{% endif %} title="[UTC − 4:30] Венесуэла"
                    value="-16200">[UTC − 04:30] Венесуэла</option>
                    <option
                    {% if user.tzOffset == '-14400' %}selected='selected'{% endif %} title="[UTC − 4] Сантьяго,
                    Атлантическое время (Канада)" value="-14400">[UTC − 04:00] Сантьяго, Атлантическое время
                    (Канада)</option>
                    <option
                    {% if user.tzOffset == '-10800' %}selected='selected'{% endif %} title="[UTC − 3] Бразилия,
                    Гренландия" value="-10800">[UTC − 03:00] Бразилия, Гренландия</option>
                    <option
                    {% if user.tzOffset == '-7200' %}selected='selected'{% endif %} title="[UTC − 2]
                    Среднеатлантическое время" value="-7200">[UTC − 02:00] Среднеатлантическое время</option>
                    <option
                    {% if user.tzOffset == '-3600' %}selected='selected'{% endif %} title="[UTC − 1] Азорские
                    острова, острова Зелёного мыса" value="-3600">[UTC − 01:00] Азорские острова, острова Зелёного
                    мыса</option>
                    <option
                    {% if user.tzOffset == '0' %}selected='selected'{% endif %} title="[UTC = 0] Время по Гринвичу:
                    Дублин, Лондон, Лиссабон, Эдинбург" value="0">[UTC = 00:00] Время по Гринвичу: Дублин, Лондон, Лиссабон,
                    Эдинбург</option>
                    <option
                    {% if user.tzOffset == '3600' %}selected='selected'{% endif %} title="[UTC + 1] Берлин, Мадрид,
                    Париж, Рим, Западная Центральная Африка" value="3600">[UTC + 01:00] Берлин, Мадрид, Париж, Рим, Западная
                    Центральная Африка</option>
                    <option
                    {% if user.tzOffset == '7200' %}selected='selected'{% endif %} title="[UTC + 2] Афины, Вильнюс,
                    Киев, Минск, Рига, Таллин, Центральная Африка" value="7200">[UTC + 02:00] Афины, Вильнюс, Киев, Минск,
                    Рига, Таллин, Центральная Африка</option>
                    <option
                    {% if user.tzOffset == '10800' %}selected='selected'{% endif %} title="[UTC + 3] Калининград,Минск, Восточноафриканское время" value="10800">[UTC + 03:00]
                    Калининград, Минск, Восточноафриканское время</option>
                    <option
                    {% if user.tzOffset == '14400' %}selected='selected'{% endif %} title="[UTC + 4] Москва,
                     страны Закавказья, Объединённые Арабские Эмираты, Оман" value="14400">[UTC + 04:00] Москва, страны Закавказья, Объединённые Арабские Эмираты, Оман</option>
                    <option
                    {% if user.tzOffset == '16200' %}selected='selected'{% endif %} title="[UTC + 4:30] Кабул"
                    value="16200">[UTC + 04:30] Кабул</option>
                    <option
                    {% if user.tzOffset == '18000' %}selected='selected'{% endif %} title="[UTC + 5] Западный
                    Казахстан, Пакистан, Таджикистан, Туркмения, Узбекистан" value="18000">[UTC + 05:00] Западный Казахстан,
                    Пакистан, Таджикистан, Туркмения, Узбекистан</option>
                    <option
                    {% if user.tzOffset == '19800' %}selected='selected'{% endif %} title="[UTC + 5:30] Бомбей,
                    Калькутта, Мадрас, Нью-Дели" value="19800">[UTC + 05:30] Бомбей, Калькутта, Мадрас, Нью-Дели</option>
                    <option
                    {% if user.tzOffset == '20700' %}selected='selected'{% endif %} title="[UTC + 5:45] Катманду"
                    value="20700">[UTC + 05:45] Катманду</option>
                    <option
                    {% if user.tzOffset == '21600' %}selected='selected'{% endif %} title="[UTC + 6]
                    Екатеринбург, центральная и восточная части Казахстана, Киргизия, Бангладеш, Бутанское время"
                    value="21600">[UTC + 06:00] Екатеринбург, центральная и восточная части Казахстана, Киргизия,
                    Бангладеш, Бутанское время</option>
                    <option
                    {% if user.tzOffset == '23400' %}selected='selected'{% endif %} title="[UTC + 6:30] Рангун"
                    value="23400">[UTC + 06:30] Рангун</option>
                    <option
                    {% if user.tzOffset == '25200' %}selected='selected'{% endif %} title="[UTC + 7] Омск,
                    Новосибирск, Кемерово, Юго-Восточная Азия (Бангкок, Джакарта, Ханой)" value="25200">[UTC + 07:00] Омск, Новосибирск, Кемерово, Юго-Восточная Азия (Бангкок, Джакарта, Ханой)</option>
                    <option
                    {% if user.tzOffset == '28800' %}selected='selected'{% endif %} title="[UTC + 8] Красноярс, Улан-Батор, Куала-Лумпур, Гонконг, Китай, Сингапур, Тайвань, западноавстралийское время"
                    value="28800">[UTC + 08:00] Красноярск, Улан-Батор, Куала-Лумпур, Гонконг, Китай, Сингапур,
                    Тайвань, западноавстралийское время</option>
                    <option
                    {% if user.tzOffset == '31500' %}selected='selected'{% endif %} title="[UTC + 8:45]
                    Юго-восточная Западная Австралия" value="31500">[UTC + 08:45] Юго-восточная Западная Австралия</option>
                    <option
                    {% if user.tzOffset == '32400' %}selected='selected'{% endif %} title="[UTC + 9] Иркутское
                    время, Корея, Япония" value="32400">[UTC + 09:00] Иркутское время, Корея, Япония</option>
                    <option
                    {% if user.tzOffset == '34200' %}selected='selected'{% endif %} title="[UTC + 9:30]
                    Центральноавстралийское время" value="34200">[UTC + 09:30] Центральноавстралийское время</option>
                    <option
                    {% if user.tzOffset == '36000' %}selected='selected'{% endif %} title="[UTC + 10] Якутск, Восточноавстралийское время (Брисбен, Канберра, Мельбурн, Сидней),
                    Западно-тихоокеанское время" value="36000">[UTC + 10:00] Якутск, Восточноавстралийское время
                    (Брисбен, Канберра, Мельбурн, Сидней), Западно-тихоокеанское время</option>
                    <option
                    {% if user.tzOffset == '37800' %}selected='selected'{% endif %} title="[UTC + 10:30] Лорд-Хау"
                    value="37800">[UTC + 10:30] Лорд-Хау</option>
                    <option
                    {% if user.tzOffset == '39600' %}selected='selected'{% endif %} title="[UTC + 11]
                    Владивостокское время, Центрально-тихоокеанское время (Соломоновы Острова, Новая Каледония)"
                    value="39600">[UTC + 11:00] Владивостокское время, Центрально-тихоокеанское время (Соломоновы Острова,
                    Новая Каледония)</option>
                    <option
                    {% if user.tzOffset == '41400' %}selected='selected'{% endif %} title="[UTC + 11:30] Остров
                    Норфолк" value="41400">[UTC + 11:30] Остров Норфолк</option>
                    <option
                    {% if user.tzOffset == '43200' %}selected='selected'{% endif %} title="[UTC + 12] Магаданское
                    время, Маршалловы Острова, Фиджи, Новая Зеландия" value="43200">[UTC + 12:00] Магаданское время,
                    Маршалловы Острова, Фиджи, Новая Зеландия</option>
                    <option
                    {% if user.tzOffset == '46800' %}selected='selected'{% endif %} title="[UTC + 13] Острова
                    Феникс, Тонга" value="46800">[UTC + 13:00] Острова Феникс, Тонга</option>
                    <option
                    {% if user.tzOffset == '50400' %}selected='selected'{% endif %} title="[UTC + 14] Остров Лайн"
                    value="50400">[UTC + 14:00] Остров Лайн</option>
                </select>
                <div style="white-space: nowrap;">Часовой пояс на вашем компьютере: <span id="localTZ"></span></div>
                <a href="" class="btn btn-primary" id="save_profile">Сохранить профиль</a>
            </div>
        </div>
    </form>
    {% if not user.new %}

    <div class="span6">
        <form id="change_pwd" enctype="multipart/form-data" method="POST" action="/users/" class="form-horizontal">
            <input type="hidden" name="act" value="change_pwd">
            <input type="hidden" name="id" value="{{user.id_user}}">
            <div class="control-group">
                <label class="control-label">Смена пароля:</label>
                <div class="controls">
                    <div style="margin-bottom: 5px;"><input type="password" name="oldpwd" value="" placeholder="Текущий пароль" /></div>
                    <div style="margin-bottom: 5px;"><input type="password" name="newpwd" value="" placeholder="Новый пароль" /></div>
                    <div><input type="password" name="rptpwd" value="" placeholder="Повтор пароля" /></div>
                    <a class="btn btn-primary" href="" change_pwd style="margin-top: 10px;">Сменить пароль</a>
                </div>
            </div>
        </form>

        <form {% if user.changemail %}style="display: none;"{% endif %} id="change_mail" enctype="multipart/form-data" method="POST" action="/users/" class="form-horizontal">
            <input type="hidden" name="act" value="change_mail">
            <input type="hidden" name="id" value="{{user.id_user}}">
            <div class="control-group">
                <label class="control-label">Смена адреса электронной почты:</label>
                <div class="controls">
                    <div style="margin-bottom: 5px;"><input type="text" readonly="readonly" style="color:gray;" name="oldmail" value="{{globals.user.email}}" placeholder="Текущий e-mail" /></div>
                    <div><input type="text" name="newmail" value="" placeholder="Новый email" rel="popover" data-content="Вам необходимо иметь
                        доступ к обоим почтовым ящикам, на них будет выслано два уникальных кода подтверждения операции" /></div>
                    <a class="btn btn-primary" href="" change_mail style="margin-top: 10px;">Сменить адрес</a>
                </div>
            </div>
        </form>

            <div id="notchange_mail" {% if not user.changemail %}style="display: none;"{% endif %}>
            <div class="edpr-feild-name" style="text-align: justify;padding-right: 40px;">
                На данный момент вы находитесь в процессе смены адреса электронной почты. Вам необходимо подтвердить
                <span id="emails">
                {% for k,v in user.changemail %}
                <span style="color:#FF5400;">{{v.email}}</span>{% if not loop.last %} и {% endif %}{% endfor %}.
                </span>

                Вы так же можете отменить процесс смены адреса электронной почты, нажав на кнопку ниже.
            </div>
            <a class="btn" href="#" cancel_chmail>Отменить смену e-mail</a>
            </div>
    </div>
    <div class="clearfix"></div>
{% endif %}
</div>
{% endblock %}