{% extends "/source/index.html" %}
{% block title %}{{user.fio}} {{user.nickname}}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/source/css/jcrop/jquery.Jcrop.css">
    <link rel="stylesheet" type="text/css" href="{{app.path('users','users.css')}}">
{% endblock %}
{% block js %}
<script type ="text/javascript" src="/source/js/jquery.Jcrop.min.js"></script>
<script type ="text/javascript" src="{{app.path('users','edit.js')}}"></script>
<script type ="text/javascript" src="/source/js/jquery.form.js"></script>
<script type ="text/javascript" src="/source/js/jquery.color.js"></script>
<script>
    $(document).ready(function($)
    {
        $(".nav li").removeClass("active");
    });
</script>
{% endblock %}

{% block context %}
<table class="table" style="margin-top: -10px;background: transparent;">
    <tr>
        <td style="width: 1px;padding: 0px;vertical-align: top !important;border-top:none;">
            <img id="avatar" style="margin-top: -15px;" src="{% if user.avatar %}/uploads/users/ava_profile/{{user.avatar|real_path}}{% else %}/source/images/no-ava-profile{% if user.gender == "f" %}_f{% endif %}.jpg{% endif %}"/>
            {% if globals.user and user.id_user == globals.user.id_user %}
                <div><a href="" change_avatar>Редактировать фотографию</a></div>
                <div><a href="/users/edit/">Редактировать профиль</a></div>
            {% endif %}
        </td>
        <td style="border-top:none;vertical-align: top !important;">
            <a href="" style="font-weight: bold;font-size: 20px;">{{user.fio}}</a>
            {% if user.last_user_action >= globals.time %}
                <div class="user_online" style="display: inline;"></div>
            {% else %}
                <div class="user_offline" style="display: inline;"></div>
            {% endif %}
            <div class="nickname" style="font-size: 14px;">{{user.nickname}}</div>
            <table class="table table-striped" style="margin-top: 20px;">
                <tr>
                    <td style="width:1px;white-space: nowrap;font-weight: bold;border-top: none;">Группа:</td>
                    <td style="text-align: justify;border-top:none;color:{{ user.color }};font-weight: bold;">{{ user.group_name }}</td>
                </tr>
                {% for p in user.profile %}
                {% if p.name != 'avatar' and p.value !='' %}
                <tr>
                    <td style="width:1px;white-space: nowrap;font-weight: bold;">{{p.alias}}:</td>
                    <td style="text-align: justify;">
                        {% if p.name == 'skypename' %}
                        <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
                        <a href="skype:{{p.value}}?chat">{{p.value}}</a>
                        {% else %}
                        {{p.value|nl2br}}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td style="width:1px;white-space: nowrap;font-weight: bold;">Последняя активность:</td>
                    <td style="text-align: justify;">
                        {% if user.last_user_action %}{{ user.last_user_action|date('d.m.Y H:i') }}
                        {% else %}дата неизвестна
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
