{% extends "/source/index.html" %}

{% block title %}Пользователи{% endblock %}

{% block js %}
    <script type ="text/javascript" src="{{ app.path('users','invite.js') }}"></script>
    <script type="text/javascript" src="{{ app.path('/source/js/','skypeCheck.js',true) }}"></script>
{% endblock %}

{% block context %}
    {% if invite %}<input type="button" class="btn btn-primary" value="Пригласить" style="position: absolute;right: 15px;" id="invite_user">{% endif %}
    {% include "/source/search_form.html" %}
    <div id="search_result" style="margin: 0 -15px;">
        {% include app.path('users','users_table.html') %}
    </div>
{% endblock %}