{% extends ajax_data ? "/source/ajax_wrapper.html" : "/source/wrapper_index.html" %}

{% block title %}Пользователи{% endblock %}

{% block js %}
    <script type ="text/javascript" src="{{ app.path('users','invite.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron" style="position: relative;">
        {% include "/source/crumbs.html" %}
        {% if invite %}<input type="button" class="btn btn-primary" value="Пригласить" style="position: absolute;right: 20px;" id="invite_user">{% endif %}
        {% include "/source/search_form.html" %}
        <div id="search_result">
            {% include app.path('users','users_table.html') %}
        </div>
    </div>
{% endblock %}