{% include '/source/jpaginator_boot.html' %}

<div class="container-fluid" style="padding-right: 0;">
    <div class="row" style="margin-right: 0;">
        {% for u in users %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 user_card">
            <div class="user_sub_card">
                <h4 style="margin-top: 0;"><a href="/users/~{{u.id_user}}/" style="color:{{ u.color }};">{{u.last_name}}<br>{{u.first_name}}</a></h4>
                <div style="position: relative;;">
                    <a href="/users/~{{u.id_user}}/"><img class="img-circle img-responsive" src="{% if u.avatar %}/uploads/users/ava_middle/{{u.avatar|real_path}}{% else %}/source/images/no-ava-profile.jpg{% endif %}" title="{{u.fio}}"></a>
                </div>
                <small>{{ u.group_name }}
                    <div class="get_ms_status user_offline" data-id="{{u.id_user}}"></div>
                    <div>
                        {% if u.skypename %}<span style="font-weight: bold;">Skype: </span><a href="skype:{{u.skypename}}?chat">{{ u.skypename }}</a>
                        {% endif %}
                    </div>
                    <div>{% if u.mphone %}<span style="font-weight: bold;">М. тел:</span> {{ u.mphone }}
                        {% endif %}
                    </div>
                    {% if u.last_user_action %}
                        {% if ''|date('d.m.Y') == u.last_user_action|date('d.m.Y') %}<span style="color:red">сегодня</span> в {{ u.last_user_action|date('H:i') }}
                        {% else %}
                            {{ u.last_user_action|date('d.m.Y H:i') }}
                        {% endif %}
                    {% endif %}
                </small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include '/source/jpaginator_boot.html' %}