{% extends app.path('projects','index.html') %}

{% block title %}
Все проекты
{% endblock %}

{% block project %}
    <form action="" id="search_form" method="post">
    {% if access.add_project or access.add_own_project or globals.access.add_project or globals.access.add_own_project %}
        <a href="/projects/add/" class="btn btn-primary pajax" style="position: absolute;right: 15px;">Создать проект</a>
    {% endif %}
        <div class="form-group col-xs-6" style="padding-left: 0;">
            <input type="text" name="search" class="form-control" placeholder="Поиск" style="margin-bottom: 10px;">
            <table class="table table_style no_style" style="width: auto;margin-top: 0;clear: both;">
                <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Участие</th>
                        <th>Принадлежность</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="archive[]" multiple size="2">
                                <option value="1" selected>текущие</option>
                                <option value="2">архивные</option>
                            </select>
                        </td>
                        <td>
                            <select name="in[]" multiple size="2">
                                <option value="1" selected>участвую</option>
                                <option value="2">не участвую</option>
                            </select>
                        </td>
                        <td>
                            <select name="my[]" multiple size="2">
                                <option value="1" selected>личные</option>
                                <option value="2" {% if not get_data.filter == 'my' %}selected{% endif %}>общие</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" name="page" value="">
    </form>
    <div class="clearfix"></div>

<div id="search_result">{% include app.path("projects","all_projects_table.html") %}</div>
{% endblock %}