<table class="table table-border" style="margin-top: 15px;" id="category_table">
    <thead>
    <tr>
        <th>Название</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for cat in categories %}
        <tr>
            <td>
                <span class="label" style="background: {{ cat.color }};color: {{ cat.color_text }}">{{ cat.name }}</span>
            </td>
            <td style="width: 80px;">
                <div class="btn-group">
                    <a class="btn btn-info btn-sm edit_category" data-id="{{ cat.id }}"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger btn-sm delete_category" data-id="{{ cat.id }}"><i class="fa fa-trash-o"></i></a>
                </div>
            </td>
        </tr>
    {% else %}
        <tr id="cat_not_found">
            <td colspan="3">категорий не найдено</td>
        </tr>
    {% endfor %}
    </tbody>
</table>