{% if logs_projects %}
<ul class="breadcrumbs-one second"><span href="" plus="project"><i class="fa fa-minus" style="position: absolute;top:7px;right:7px;cursor: pointer;"></i></span>
    <li><a class="current">Проекты</a></li>
</ul>
<div block="project">
    <table class="table table-hover table-border table-condensed">
        <tr>
            <th>Проект</th>
            <th>Описание</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in logs_projects %}
        <tr>
            <td><a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a></td>
            <td>{{l.text|raw}}</td>
            <td>{{l.created|date('d.m.Y H:i:s')}}</td>
            <td>
                <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if logs_tasks %}
<ul class="breadcrumbs-one second"><span href="" plus="task"><i class="fa fa-minus" style="position: absolute;top:7px;right:7px;cursor: pointer;"></i></span>
    <li><a class="current">Личные задачи</a></li>
</ul>
<div block="task">
    <table class="table table-hover table-border table-condensed">
        <tr>
            <th>Проект</th>
            <th>Задача</th>
            <th>Описание</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in logs_tasks %}
        <tr>
            <td><a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a></td>
            <td><a href="/projects/tasks/show/{{l.id_task}}/">{{l.task_name}}</a></td>
            <td>{{l.text|raw}}</td>
            <td>{{l.created|date('d.m.Y H:i:s')}}</td>
            <td>
                <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if manager_logs %}
<ul class="breadcrumbs-one second"><span plus="manager"><i class="fa fa-minus" style="position: absolute;top:7px;right:7px;cursor: pointer;"></i></span>
    <li><a class="current">Блок менеджера</a></li>
</ul>
<div block="manager">
    <table class="table table-hover table-border table-condensed">
        <tr>
            <th>Проект</th>
            <th>Задача</th>
            <th>Описание</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in manager_logs %}
        <tr>
            <td><a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a></td>
            <td><a href="/projects/tasks/show/{{l.id_task}}/">{{l.task_name}}</a></td>
            <td>{{l.text|raw}}</td>
            <td>{{l.created|date('d.m.Y H:i:s')}}</td>
            <td>
                <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}