{% extends ajax_data ? "/source/ajax_index.html" : "/source/index.html" %}

{% block title %}Общая лента{% endblock %}

{% block context %}
    <div class="get_script" style="display: none;" data-path="{{app.path('projects','logs.js')}}"></div>
    {% include "/source/crumbs.html" %}
<form action="" id="search_form" method="post" class="form-horizontal user_tasks" style="margin-bottom:20px;">
    <input type="hidden" name="page" value="">
    <table class="table table_style no_style" style="width: auto;margin-top: 0">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Дата</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="type[]" multiple size="4">
                        {% for i in types %}
                            <option value="{{ i }}">{{ ("type_"~i)|lang }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    От: <input type="text" name="start" value="{{start}}" readonly style="width: 90px;margin-bottom: 10px;"><br>
                    До: <input type="text" name="end" value="{{end}}" readonly style="width: 90px;">
                </td>
                <td>
                    <input type="text" name="search" id="search_label" class="input-large" placeholder="Поиск">
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div id="search_result">
    {% include app.path('projects','logs.html') %}
</div>
{% endblock %}