<div style="margin-top: 20px;">
    <table class="table table-hover table-border table-condensed">
        <tr>
            <th style="width: 1px;white-space: nowrap;"></th>
            <th>Описание</th>
            <th>Проект</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in logs %}
            <tr>
                <td><span class="label label-default log_{{ l.type }}">{{ ("type_"~l.type)|lang }}</span></td>
                <td>{{l.text|raw}}</td>
                <td>{% if l.id_project %}<a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a>{% else %}{{ l.trash_project_name }}{% endif %}</td>
                <td>{{l.created|date('d.m.Y H:i:s')}}</td>
                <td>
                    {% if l.id_user %}<a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
                    {% else %}{{ l.trash_name_user }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div style="position: relative;margin-top: 10px;">{% include '/source/jpaginator_boot.html' %}</div>