{% extends "/source/index.html" %}

{% block js %}
<script type ="text/javascript" src="{{app.path('projects','logs.js')}}"></script>
<script src="/source/js/jquery.ui.datepicker-ru.min.js"></script>
<script type ="text/javascript" src="/source/js/search.js"></script>
{% endblock %}

{% block context %}
<form action="" id="search_form" method="post" class="form-horizontal" style="margin-bottom:0;">
    <input type="hidden" name="page" value="">
    Тип <select name="type">
        <option>&nbsp;</option>
        {% for i in types %}
            <option value="{{ i }}">{{ ("type_"~i)|lang }}</option>
        {% endfor %}
    </select>&nbsp;
    <i class="fa fa-calendar"></i> <input type="text" name="start" value="{{start}}" class="input-small" readonly> <i class="fa fa-arrow-right"></i> <input type="text" name="end" value="{{end}}" class="input-small" readonly>
</form>

<div id="search_result">
    {% include app.path('projects','logs.html') %}
</div>
{% endblock %}