{% if logs_projects %}
<ul class="breadcrumb second"><a href="" plus="project"><i class="icon-minus" style="position: absolute;top:7px;right:7px;"></i></a>
    <li>Проекты</li>
</ul>
<div block="project">
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>Проект</th>
            <th>Описание</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in logs_projects %}
        <tr>
            <td><a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a></td>
            <td>{{l.text|raw}}</td>
            <td>{{l.created|date('d.m.Y H:i:s')}}</td>
            <td>
                <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
                <div class="nickname">{{l.nickname}}</div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if logs_tasks %}
<ul class="breadcrumb second"><a href="" plus="task"><i class="icon-minus" style="position: absolute;top:7px;right:7px;"></i></a>
    <li>Личные задачи</li>
</ul>
<div block="task">
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>Проект</th>
            <th>Задача</th>
            <th>Описание</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in logs_tasks %}
        <tr>
            <td><a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a></td>
            <td><a href="/projects/tasks/show/{{l.id_task}}/">{{l.task_name}}</a></td>
            <td>{{l.text|raw}}</td>
            <td>{{l.created|date('d.m.Y H:i:s')}}</td>
            <td>
                <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
                <div class="nickname">{{l.nickname}}</div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if manager_logs %}
<ul class="breadcrumb second"><a href="" plus="manager"><i class="icon-minus" style="position: absolute;top:7px;right:7px;"></i></a>
    <li>Блок менеджера</li>
</ul>
<div block="manager">
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>Проект</th>
            <th>Задача</th>
            <th>Описание</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for l in manager_logs %}
        <tr>
            <td><a href="/projects/~{{l.id_project}}/">{{l.project_name}}</a></td>
            <td><a href="/projects/tasks/show/{{l.id_task}}/">{{l.task_name}}</a></td>
            <td>{{l.text|raw}}</td>
            <td>{{l.created|date('d.m.Y H:i:s')}}</td>
            <td>
                <a href="/users/~{{l.id_user}}/" style="color:{{ l.color }};font-weight: bold;" title="{{ l.group_name }}">{{l.fio}}</a>
                <div class="nickname">{{l.nickname}}</div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}