<ul style="list-style: none;padding-left: 0;" class="projects_in_panel">
{% for p in projects.projects %}
    <li style="text-indent: 0;" class="sidebar_project {% if project.id == p.id or projects.current_project == p.id %}active{% endif %}">
    <a href="/projects/tasks/{{p.id}}/" data-id="{{ p.id }}" style="padding: 5px 0 5px 30px;line-height: 15px;">
        {% if p.owner %}<i class="fa fa-user" style="text-indent: 0;"></i> {% endif %}{{p.name}}
    </a>
    </li>
{% endfor %}
</ul>
{% include app.path('projects','jpaginator_project_panel.html') %}