<div class="btn-block" style="margin-bottom: 20px;">
    <div class="btn-group">
        <a class="btn btn-india {% if review_button %}active{% endif %}" href="/projects/~{{project.id}}/"><i class="fa fa-info"></i></a>
    </div>

    {% if not project.owner %}
    <div class="btn-group">
        <a class="btn btn-black {% if news_button %}active{% endif %}" href="/projects/news/{{project.id}}/"><i class="fa fa-rss"></i></a>
        {% if access.news %}<a class="btn btn-black {% if add_news_button %}active{% endif %}" href="/projects/news/add/{{project.id}}/"><i class="fa fa-plus"></i></a>{% endif %}
    </div>
    {% endif %}
    <div class="btn-group">
        <a class="btn btn-success {% if tasks_button %}active{% endif %}" href="/projects/tasks/{{project.id}}/"><i class="fa fa-tasks"></i></a>
        <a class="btn btn-success {% if gantt_button %}active{% endif %}" href="/projects/gantt/{{project.id}}/"><i class="fa fa-bar-chart-o"></i></a>
        {% if access.add_task or access.add_error %}<a class="btn btn-success {% if add_tasks_button %}active{% endif %}" href="/projects/tasks/add/{{project.id}}/"><i class="fa fa-plus"></i></a>{% endif %}
    </div>
    <div class="btn-group">
        <a href="/projects/files/{{project.id}}" class="btn btn-info {% if files_button %}active{% endif %}"><i class="fa fa-files-o"></i></a>
        {% if access.add_files %}<a class="btn btn-info upload_files" href=""><i class="fa fa-plus"></i></a>{% endif %}
    </div>
    {% if not project.owner %}
    <div class="btn-group">
        <a href="/projects/users/{{project.id}}" class="btn btn-primary {% if users_button %}active{% endif %}"><i class="fa fa-users"></i></a>
        {% if access.users %}<a class="btn btn-primary {% if add_users_button %}active{% endif %}" href="/projects/users/add/{{ project.id }}/"><i class="fa fa-plus"></i></a>{% endif %}
    </div>
    {% endif %}
    <div class="btn-group">
        <a class="btn btn-foxtrot {% if documents_button %}active{% endif %}" href="/projects/documents/{{project.id}}/"><i class="fa fa-file-text-o"></i> </a>
        {% if access.documents %}<a class="btn btn-foxtrot {% if add_documents_button %}active{% endif %}" href="/projects/documents/add/{{project.id}}/"><i class="fa fa-plus"></i></a>{% endif %}
    </div>
    {% if not project.owner %}
    <div class="btn-group">
        <a class="btn btn-oscar {% if forum_button %}active{% endif %}" href="/projects/forum/{{project.id}}/"><i class="fa fa-comments"></i></a>
        {% if access.forum %}<a class="btn btn-oscar {% if add_forum_button %}active{% endif %}" href="/projects/forum/add/{{project.id}}/"><i class="fa fa-plus"></i></a>{% endif %}
        <!--<div class="nickname" style="font-size: 12px;position: absolute;margin-top: -6px;">Новые: {{globals.count_new_posts}}</div>-->
    </div>
    {% endif %}
    <div class="btn-group">
        {% if access.edit_project %}<a class="btn btn-danger {% if edit_button %}active{% endif %}" href="/projects/edit/{{project.id}}/"><i class="fa fa-pencil"></i></a>{% endif %}
        {% if access.delete_project %}<a class="btn btn-danger delete_project" href="" project_id="{{project.id}}" data-name="{{ project.name }}"><i class="fa fa-trash-o"></i></a>{% endif %}
    </div>
</div>