{% extends app.path('projects','project.html') %}

{% block title %}
Проект "{{project.name}}"
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}
{% if project.description or project.url %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Описание проекта</h3>
    </div>
    <div class="panel-body">
        {% if project.description %}<div>{{ project.description }}</div>{% endif %}
        {% if project.url %}<div><a href="{{ project.url }}">{{ project.url }}</a></div>{% endif %}
    </div>
</div>
{% endif %}

<table class="table review_table table-condensed table-border">
    <tr>
        <th class="left_column">Статистика</th>
        {% if not project.owner and news %}<th>Последние новости</th>{% endif %}
    </tr>
    <tr>
        <td class="left_column" style="vertical-align: top !important;padding: 0;width: 50%;">
            <table class="table-condensed table_statistic">
                <tr>
                    <td class="first">Задачи</td>
                    <td>
                        <span class="label label-info">{{stats.all|default(0)}}</span> {{ "stats_tasks_all"|lang }} :
                        <span class="label label-info">{{stats.new|default(0)}}</span> {{ "stats_tasks_new"|lang(stats.new|default(0)) }}
                        <span class="label label-info">{{stats.in_progress|default(0)}}</span> {{ "stats_tasks_progress"|lang }}
                        <span class="label label-info">{{stats.closed|default(0)}}</span> {{ "stats_tasks_closed"|lang(stats.closed|default(0)) }}
                        <span class="label label-info">{{stats.rejected|default(0)}}</span> {{ "stats_tasks_rejected"|lang(stats.rejected|default(0)) }}
                    </td>
                </tr>
                {% if not project.owner %}
                <tr>
                    <td class="first">Новости</td>
                    <td>
                        <span class="label label-info">{{stats_other.news|default(0)}}</span> {{ "stats_news"|lang(stats_other.news|default(0)) }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="first">Файлы</td>
                    <td>
                        <span class="label label-info">{{stats_other.files.count|default(0)}}</span> {{ "stats_files"|lang(stats_other.files.count|default(0)) }}{% if stats_other.files.sum_size %}, общим размером <span class="label label-info">{{stats_other.files.sum_size}}</span>{% endif %}
                    </td>
                </tr>
                {% if not project.owner %}
                <tr>
                    <td class="first">Участники</td>
                    <td>
                        <span class="label label-info">{{stats_other.users|default(0)}}</span> {{ "stats_users"|lang(stats_other.users|default(0)) }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="first">Wiki</td>
                    <td>
                        <span class="label label-info">{{stats_other.docs|default(0)}}</span> {{ "stats_docs"|lang(stats_other.docs|default(0)) }}
                    </td>
                </tr>
                {% if not project.owner %}
                <tr>
                    <td class="first">Форум</td>
                    <td>
                        <span class="label label-info">{{stats_other.forum.forums_count|default(0)}}</span> {{ "stats_forum_forums"|lang(stats_other.forum.forums_count|default(0)) }}
                        <span class="label label-info">{{stats_other.forum.topics_count|default(0)}}</span> {{ "stats_forum_topics"|lang(stats_other.forum.topics_count|default(0)) }}
                        <span class="label label-info">{{stats_other.forum.posts_count|default(0)}}</span> {{ "stats_forum_posts"|lang(stats_other.forum.posts_count|default(0)) }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </td>
        {% if not project.owner and news %}
        <td class="right_column" style="padding: 0;vertical-align: top !important;">
            {% if news %}
                <table class="table table-striped table-condensed">
                    {% for n in news %}
                    <tr>
                        <td style="white-space: nowrap;width: 1px;">{{n.created|date('d.m.Y H:i')}}</td>
                        <td><a href="/projects/news/show/{{n.id}}">{{n.name}}</a></td></tr>
                    {% endfor %}
                </table>
            {% else %}
                <div>новостей нет</div>
            {% endif %}
        </td>
        {% endif %}
    </tr>
</table>
{% endblock %}