    {% import "/source/search_macro.html" as inputs %}
    {% if dashboard %}
        <form path="/projects/tasks_today/" id="search_form" method="post" class="form-horizontal user_tasks" style="margin-bottom:0;">
            <input type="hidden" name="page" value="">
            <input type="hidden" name="act" value="get_data">
            <input type="hidden" name="limit" value="{{ limit }}">
            <input type="hidden" name="id_user" value="{{ globals.user.id_user }}">

            <input type="text" name="search" id="search_label" placeholder="Поиск" class="col-xs-6">
            <div class="col-xs-6">
                <div style="position: relative;top:5px;">
                {{ inputs.input(form.percent,'percent',true) }}
                {{ inputs.input(form.my,'my',true) }}</div>
            </div>

            <div style="clear: both;height: 10px;"></div>
            <table class="table table_style no_style" style="width: auto;margin-top: 0;">
                <thead>
                <tr>
                    <th>Кому</th>
                    <th>Начало-окончание</th>
                    <th>Дата изменения</th>
                    <th>Статус</th>
                    <th>Приоритет</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="dashboard_radio">
                        {{ inputs.input(form.assigned,'assigned') }}
                    </td>
                    <td>От: <input type="text" name="start" value="{% if start %}{{start}}{% endif %}" readonly style="margin-bottom: 10px;width: 85px;"><br>
                        До: <input type="text" name="end" value="{% if end %}{{end}}{% endif %}" readonly style="width: 85px;"></td>
                    <td>От: <input type="text" name="start_edit" value="{% if start_edit %}{{start_edit}}{% endif %}" readonly style="margin-bottom: 10px;width: 85px;"><br>
                        До: <input type="text" name="end_edit" value="{% if end_edit %}{{end_edit}}{% endif %}" readonly style="width: 85px;"></td>
                    <td>{{ inputs.input(form.status,'status') }}</td>
                    <td>{{ inputs.input(form.priority,'priority') }}</td>
                </tr>
                </tbody>
            </table>
        </form>
    {% else %}
    <ul class="breadcrumbs-one second">
        <li><a class="current">Задачи</a></li>
    </ul>
    <form path="/projects/user_tasks/" id="search_form" method="post" class="form-horizontal user_tasks" style="margin-bottom:0px;">
        <input type="hidden" name="page" value="">
        <input type="hidden" name="act" value="get_data">
        <input type="hidden" name="id_user" value="{{ id_user }}">
        <table class="table table_style no_style" style="width: auto;">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Другое</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>От: <input type="text" name="start" value="{{start}}" class="input-small" readonly style="margin-bottom: 10px;"><br>
                    До: <input type="text" name="end" value="{{end}}" class="input-small" readonly></td>
                <td>{{ inputs.input(form.status,'status') }}</td>
                <td>{{ inputs.input(form.priority,'priority') }}</td>
                <td>
                    <input type="text" name="search" id="search_label" class="input-large" placeholder="Поиск"><br/><br/>
                    {{ inputs.input(form.percent,'percent',true) }}
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    {% endif %}
    <div class="clearfix"></div>
    <div id="search_result">{% include app.path('projects','calendar/task_today.html') %}</div>