    <ul class="breadcrumbs-one second">
        <li><a class="current">Задачи</a></li>
    </ul>
    {% import "/source/search_macro.html" as inputs %}
    <form path="/projects/user_tasks/" id="search_form" method="post" class="form-horizontal user_tasks" style="margin-bottom:0px;">
        <input type="hidden" name="page" value="">
        <input type="hidden" name="act" value="get_data">
        <input type="hidden" name="id_user" value="{{ id_user }}">
        <table class="table table_style no_style" style="width: auto;">
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Другое</th>
            </tr>
            <tr>
                <td>От: <input type="text" name="start" value="{{start}}" class="input-small" readonly style="margin-bottom: 10px;"><br>
                    До: <input type="text" name="end" value="{{end}}" class="input-small" readonly></td>
                <td>{{ inputs.input(form.status,'status') }}</td>
                <td>{{ inputs.input(form.priority,'priority') }}</td>
                <td>
                    <input type="text" name="search" id="search_label" class="input-large" placeholder="Поиск"><br/><br/>
                    {{ inputs.input(form.percent,'percent',true) }}
                </td>
            </tr>
        </table>
    </form>
    <div class="clearfix"></div>
    <div id="search_result">{% include app.path('projects','calendar/task_today.html') %}</div>