{% extends ajax_data ? "/source/ajax_index.html" : "/source/index.html" %}
{% block crumbs %}

{% endblock %}
{% block body %}
<div style="text-align: center;">
    <div style="font-size: 160px;color: #444;margin-top: 100px;">
        404
    </div>
    <div style="font-size: 40px;color: #ff4600;">
        Страница не найдена
    </div>
    <div>
    {% if referer %}<a href="{{referer}}" class="pajax">вернуться на предыдущую страницу</a>
    {% else %} <a href="/" class="pajax">вернуться на главную страницу</a>
    {% endif %}
    </div>
</div>
{% endblock %}