    <form id="login_form">                
        <table class="popup_login_form" cellspacing="0" cellpadding="0">
            <tr>
                <td class="login_form_title">E-mail:</td>
                <td class="login_form_title xleft-col">Пароль:</td>
            </tr>
            <tr>
                <td><input type="text" name="login" class="input"></td>
                <td class="pwdtd xleft-col"><input type="password" name="password" class="input"></td>
            </tr>
            <tr>
                <td colspan="1" class="remembtd" valign="top"><input type="checkbox" name="remembe"> Оставаться в системе</td>
                <td class="xleft-col"><a href="/users/recovery/"><b>Забыли пароль?</b></a><br><a href="/users/registration/"><b>Регистрация</b></a></td>
            </tr>          
        </table>
    </form>
