<tr class="msg_row {% if my %} msg_row_my{% endif %}" message="{{id}}">
    <td class="msg_img"><a href="/users/~{{id_user}}"><img src="{% if avatar %}/uploads/users/ava_comment/{{avatar_sub1}}/{{avatar_sub2}}/{{avatar}}{% else %}/source/images/no-ava-comment{% if gender == "f" %}_f{% endif %}.jpg{% endif %}"></a></td>
    <td class="msg_fiotext"><div class="msg_fio"><a href="/users/~{{id_user}}">{{fio}}</a></div><div class="msg_text">{{message}}</div></td>
    <td class="msg_date">{{created|date("d.m.y H:i",tzOffset)}}</td>
</tr>