<table>
    <tr>
        <td rowspan="2">
            <img src="{{image}}" id="jcrop_target" />            
        </td>
        <td style="text-align: left;padding-left:10px;" valign="top">
            <b>Миниатюра фотографии</b>
        </td>
    </tr>
    <tr>
        <td style="text-align: left;padding-left:10px;" valign="top">
            Выберите область на основной фотографии,<br> которая будет отображаться в миниатюрах на сайте.            
            <div style="width:100px;height:100px;margin-top:-10px;overflow:hidden;">
                <img id="preview" src="{{image}}" />
            </div>            
        </td>
    </tr>
</table>
<form id="save_avatar">
    <input type="hidden" name="x1" value="">
    <input type="hidden" name="y1" value="">
    <input type="hidden" name="x2" value="">
    <input type="hidden" name="y2" value="">
    <input type="hidden" name="image" value="{{image}}">
    <input type="hidden" name="act" value="save_avatar">
</form>