{% extends "/source/mail.html" %}

{% block title %}
    Смена пароля
{% endblock %}

{% block body %}
    {% import "/source/link_mail_macro.html" as link_mail %}

    <div>Кто-то (возможно, Вы) запросил смену пароля от Вашего аккаунта на сайте {{ site_name }}</div>
    <div>Если это были не Вы, просто проигнорируйте данное письмо.</div>

    <div style="margin-top:20px;">Если же Вы действительно хотите изменить свой пароль, то перейдите по {{ link_mail.format(domain,'users/recovery/'~hash,'ссылке') }}</div>
    <div>Ссылка будет действительна в течение часа.</div>
{% endblock %}