{% extends app.path('projects','project.html') %}

{% block title %}
{% if forum %}Редактирование форума{% else %}Добавление форума{% endif %}
{% endblock %}

{% block js %}
{{parent()}}
<script type ="text/javascript" src="{{app.path('projects','forum.js')}}"></script>
<script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}
<form id="forum_form" class="form-horizontal form-small">
    <input type="hidden" name="act" value="save_forum">
    {% if forum.id %}<input type="hidden" name="id" value="{{forum.id}}">{% endif %}
    <div class="docs-input-sizes">
        <div class="control-group">
            <label class="control-label" for="name">Название</label>
            <div class="controls">
                <input type="text" name="name" id="name" class="input-xxlarge" value="{{forum.name}}" style="display: inline-block;">
             </div>
         </div>
        <div style="text-align: center;margin-top: 50px;">
            <button class="btn btn-large btn-primary save_forum" type="button">{% if project.id %}Сохранить{% else %}Создать{% endif %}</button>
        </div>
    </div>
</form>
<div class="clearfix"></div>
{% endblock %}