{% extends app.path('projects','project.html') %}

{% block title %}
{% if forum %}Редактирование форума{% else %}Добавление форума{% endif %}
{% endblock %}

{% block js %}
<script type ="text/javascript" src="{{app.path('projects','forum.js')}}"></script>
{% endblock %}

{% block project_data %}
<form id="forum_form" class="form-horizontal form-small">
    <input type="hidden" name="act" value="save_forum">
    {% if forum.id %}<input type="hidden" name="id" value="{{forum.id}}">{% endif %}
    <div class="form-group">
        <label class="col-lg-2 control-label" for="name">Название</label>
        <div class="col-lg-10">
            <input type="text" name="name" id="name" class="form-control" value="{{forum.name}}" style="display: inline-block;">
         </div>
     </div>
    <div style="text-align: center;margin-top: 50px;">
        <button class="btn btn-large btn-primary save_forum" type="button">{% if project.id %}Сохранить{% else %}Создать{% endif %}</button>
    </div>
</form>
<div class="clearfix"></div>
{% endblock %}