{% include '/source/jpaginator_boot.html' %}

{% if new_posts %}<div class="new_post_count"><a href='' class="set_all_read">Отметить все прочитанным</a></div>{% endif %}
<table class="table table-border table-hover vert_middle table-condensed" style="background: #fff;" id="tasks_table">
    <thead>
    <tr>
        <th>Название форума</th>
        <th>Название темы</th>
        <th style="width: 1px;white-space: nowrap;">Количество новых сообщений</th>
    </tr>
    </thead>
    <tbody>
    {% if new_posts %}
        {% for n in new_posts %}
            <tr>
                <td><a href="/projects/forum/show/{{n.forum_id}}/">{{n.forum_name}}</a></td>
                <td><a href="/projects/forum/show_topic/{{n.id}}/">{{n.topic_name}}</a></td>
                <td>{{n.count}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <td colspan="3" id="no_file">Новые сообщений отсутствуют</td>
    {% endif %}
    </tbody>
</table>
{% include '/source/jpaginator_boot.html' %}