{% extends app.path('projects','project.html') %}

{% block title %}
Форум {{project.name}}. Тема - {{ topic.name }}{% endblock %}

{% block js %}
{{ parent() }}
<script type ="text/javascript" src="{{ app.path('/source/js/ckeditor/','ckeditor.js',true) }}"></script>
<script type ="text/javascript" src="{{app.path('projects','forum.js')}}"></script>
<script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}
{% include '/source/paginator.html' %}
{% if access.forum %}
<a href="/projects/forum/edit_topic/{{topic.id}}/" class="btn btn-oscar" style="float: right;margin-bottom: 10px;margin-top: 10px;margin-left: 10px;">Редактировать</a>
{% endif %}

<a href="" class="btn btn-oscar {% if topic.subscribe %}unsubscribe{% else %}subscribe{% endif %}" data-id="{{topic.id}}" style="float: right;margin-bottom: 10px;margin-top: 10px;">{% if topic.subscribe %}Отписаться{% else %}Подписаться{% endif %}</a>
{% if topic.closed %}
    <i class="fa fa-lock" style="float: left;font-size: 40px;margin-right: 10px;" title="Закрытая тема"></i>
{% endif %}
{% if topic.fixed %}
    <i class="fa-thumb-tack " style="float: left;font-size: 40px;" title="Закрепленная тема"></i>
{% endif %}
<table class="table table_style no_padding_right no_padding_left" id="posts_table">
    {% for p in posts %}
    {% if loop.index % 2 == 0 %}{% set color = '#f7f7f7' %}{% else %}{% set color = '#fff' %}{% endif %}
    <thead>
    <tr>
        <th class="forum_fio" colspan="2" style="text-align: left !important;background: {{ color }} !important;">
            <span class="get_ms_status user_offline" data-id="{{p.author}}" style="font-size: 14px;"></span>
            <a href="/users/~{{p.author}}/" style="color:{{ p.color }};"><b>{{p.fio}}</b></a>
            <div style="float: right;">{{p.created|date('d.m.Y H:i')}}</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: center;vertical-align: top !important;border-right: 1px solid #ddd;width: 96px;padding-right: 0 !important;background: {{ color }} !important;">
            {% if p.avatar %}<img src="/uploads/users/ava_small/{{p.avatar|real_path}}">{% else %}<img src='/source/images/no-ava-small.jpg' class="img-polaroid">{% endif %}
        </td>
        <td class="wysiwyg post_td" style="vertical-align: top !important;background: {{ color }} !important;">
            <div id="post{{p.id}}" class="post">{{p.text|raw}}</div>
        </td>
    </tr>
        {% if not loop.last %}
            <tr>
                <td colspan="2" style="border:none !important;text-align: right;background: {{ color }} !important;padding-bottom: 10px !important;">
                    <div class="btn-group">
                        <a href="" class="btn btn-oscar btn-xs quote_post" data-id="{{p.id}}"><i class="fa fa-quote-right fa-fw"></i></a>
                        {% if access.forum or p.author == globals.user.id_user %}
                            <a href="" class="btn btn-xs btn-oscar edit_post" data-id="{{p.id}}"><i class="fa fa-pencil fa-fw"></i></a>
                        {% endif %}
                        {% if access.forum and first_post != p.id %}
                            <a href="" class="btn btn-xs btn-oscar delete_post" data-id="{{p.id}}"><i class="fa fa-trash-o fa-fw"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% if not topic.closed %}
<div class="clearfix"></div>
<form class='post_form_bottom' style="margin-top: 20px;">
    <input type="hidden" name="id_topic" value="{{topic.id}}">
    <input type="hidden" name="act" value="save_post">
    <div class="wysiwyg"><textarea name='text_bottom'></textarea></div>
</form>
    <div style="text-align: center;"><a href="" class="btn btn-oscar save_post_bottom" style="margin-top: 20px;">Отправить</a></div>
{% endif %}
{% include '/source/paginator.html' %}
{% endblock %}