{% extends app.path('projects','project.html') %}

{% block title %}
Проект "{{project.name}}"
{% endblock %}

{% block js %}
{{ parent() }}
<script type ="text/javascript" src="/source/js/ckeditor/ckeditor.js"></script>
<script type ="text/javascript" src="{{app.path('projects','forum.js')}}"></script>
<script src="{{app.path('projects','tasks.js')}}"></script>
{% endblock %}

{% block project_data %}
{% include '/source/paginator.html' %}
{% if access.forum %}
<a href="/projects/forum/edit_topic/{{topic.id}}/" class="btn btn-oscar" style="float: right;margin-bottom: 10px;margin-top: 10px;margin-left: 10px;">Редактировать</a>
{% endif %}

<a href="" class="btn btn-oscar {% if topic.subscribe %}unsubscribe{% else %}subscribe{% endif %}" data-id="{{topic.id}}" style="float: right;margin-bottom: 10px;margin-top: 10px;">{% if topic.subscribe %}Отписаться{% else %}Подписаться{% endif %}</a>
{% if topic.closed %}
    <i class="fa fa-lock" style="float: left;font-size: 40px;margin-right: 10px;" title="Закрытая тема"></i>
{% endif %}
{% if topic.fixed %}
    <i class="fa-thumb-tack " style="float: left;font-size: 40px;" title="Закрепленная тема"></i>
{% endif %}
<table class="table table-bordered" id="posts_table">
    {% for p in posts %}
    <tr>
        <td class="forum_fio">
            <a href="/users/~{{p.author}}/"><b>{{p.fio}}</b></a>
        </td>
        <td class="forum_post_date">
            {{p.created|date('d.m.Y H:i:s')}}
        </td>
    </tr>
    <tr>
        <td style="text-align: center;vertical-align: top !important;">
            {% if p.avatar %}<img src="/uploads/users/ava_small/{{p.avatar|real_path}}" class="img-polaroid">{% else %}<img src='/source/images/no-ava-small.jpg' class="img-polaroid">{% endif %}
            <div class="nickname" style="margin-top: 3px;">{{p.nickname}}</div>
            <div class="nickname" style="color:{{ p.color }};font-weight: bold;">{{p.group_name}}</div>
            {% if p.last_user_action >= globals.time %}
                <div class="user_online"></div>
            {% else %}
                <div class="user_offline"></div>
            {% endif %}
        </td>
        <td class="wysiwyg post_td" style="vertical-align: top !important;">
            <div id="post{{p.id}}" class="post">{{p.text|raw}}</div>
        </td>
    </tr>
    <tr>
        <td class="forum_post_footer" colspan="2">
            <a href="" class="btn btn-oscar btn-mini quote_post" data-id="{{p.id}}"><i class="fa fa-quote-right"></i></a>
            <div class="forum_post_action">
                <div class="btn-group">
                    {% if access.forum or p.author == globals.user.id_user %}
                        <a href="" class="btn btn-oscar btn-mini edit_post" data-id="{{p.id}}"><i class="fa fa-pencil"></i></a>
                    {% endif %}
                    {% if access.forum and first_post != p.id %}
                        <a href="" class="btn btn-oscar btn-mini delete_post" data-id="{{p.id}}"><i class="fa fa-trash-o"></i></a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
    {% if not loop.last %}
    <tr>
        <td colspan="3" style="background: #e2e2e2;padding: 5px;"></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% if not topic.closed %}
<div class="clearfix"></div>
<form class='post_form_bottom' style="margin-top: 20px;">
    <input type="hidden" name="id_topic" value="{{topic.id}}">
    <input type="hidden" name="act" value="save_post">
    <div class="wysiwyg"><textarea name='text_bottom'></textarea></div>
</form>
    <div style="text-align: center;"><a href="" class="btn btn-oscar save_post_bottom" style="margin-top: 20px;">Отправить</a></div>
{% endif %}
{% include '/source/paginator.html' %}
{% endblock %}