{% extends "/source/mail.html" %}

{% block title %}
    Новые темы на форумах
{% endblock %}

{% block body %}
    {% import "/source/link_mail_macro.html" as link_mail %}

    {% for n in new_topics.topics %}
        {% for nn in n  %}
            {% if project_id != nn.id %}
                {% set project_id = nn.id  %}
                На форумах проекта {{ nn.name }}
            {% endif %}
            <div>
            {{ link_mail.format(domain,'projects/forum/show_topic/'~nn.topic_id,nn.topic_name) }}
        {% endfor %}
    {% endfor %}
{% endblock %}