{% include '/source/jpaginator_boot.html' %}
<table class="table table-hover table-condensed table-border" id="{% if not get_popup_files and not post_data.get_popup_files %}files_table{% else %}popup_files_table{% endif %}">
    <thead>
    <tr>
        <th>Файл</th>
        <th>Название</th>
        <th>Создан</th>
        <th>Размер</th>
        <th>Добавил</th>
        {% if not show_task %}{% if access.delete_files %}<th></th>{% endif %}{% endif %}
    </tr>

    <tbody>
    {% if files %}
    {% for file in files %}
        {% include app.path('projects','files/file.html') %}
    {% endfor %}
    {% else %}
    <td colspan="{% if access.delete_files %}5{% else %}4{% endif %}" id="no_file">файлов нет</td>
    {% endif %}
    </tbody>
</table>
{% include '/source/jpaginator_boot.html' %}