<div class="banners_top_block">
<div class="banners_top">
{% for i in globals.banners %}
{% if i.position == "top" %}
<div class="banner" {% if notfirst %}style='display:none;'{% endif %}>
    {% if i.url %}<a href="//{{i.url}}">{% endif %}
        {% if i.type == "image" %}<img src="/uploads/banners/{{i.banner}}" width="{{i.width}}" height="{{i.height}}">
        {% elseif i.type == "swf" %}
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="{{i.width}}" height="{{i.height}}">
        <param name=movie value="/uploads/banners/{{i.banner}}">
        <param name=quality value=high>
        <param name="wmode" value="opaque">
        <embed src="/uploads/banners/{{i.banner}}" quality=high
                pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
                type="application/x-shockwave-flash" width="{{i.width}}" height="{{i.height}}" wmode="opaque"></embed>
        </object>
        {% endif %}
{% if i.url %}</a>{% endif %}
</div>
{% if not notfirst %}{% set notfirst = 1 %}{% endif %}
{% endif %}
{% endfor %}
</div>
</div>