<!DOCTYPE html>
<html xml:lang="ru" lang="ru">
    <head>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
                <title>{% block title %}Создание и продвижение сайтов в Самаре | фирменный стиль{% endblock %} - {{settings.site_name.value}}</title>
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta name="robots" content="index, follow" />
                <meta name="keywords" content="{% block keywords %}Создание сайтов, продвижение сайтов, создание фирменного стиля, web-дизайн, поисковое продвижение, контекстная реклама{% endblock %}" />
                <meta name="description" content="{% block description %}Компания «CUBE IN CUBE» занимается разработкой и продвижением сайтов, оптимизацией их для поисковых систем, созданием фирменного стиля и разработкой презентаций, а так же контекстной рекламой{% endblock %}" />
                <link rel="stylesheet" href="/source/css/index.css" type="text/css" media="screen, projection" />
                <link rel="stylesheet" href="/source/css/jquery.jgrowl.css" type="text/css" media="screen, projection" />
                <link rel="stylesheet" href="/source/css/popup.css" type="text/css" media="screen, projection" />
                <link rel="stylesheet" href="/source/css/content.css" type="text/css" media="screen, projection" />
                {% block css %}{% endblock %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                <script src="/source/js/jquery.jgrowl_minimized.js"></script>
                <script src="/source/js/functions.js"></script>
                <script src="/source/js/message.js"></script>
                <script src="/source/js/menu.js"></script>
                {% if globals.user %}
                <script type="text/javascript">
                    $(document).ready(function($) {
                        $.getScript("/source/js/socket.io/socket.io.min.js",function(){
                            $.getScript("{{app.users__js}}client.js");
                        });

                        $.getScript("/source/js/sound_manager/soundmanager2-nodebug-jsmin.js",function(){
                            window.sounds = new Array();

                            soundManager.useFlashBlock = false;
                            soundManager.url = '/source/js/sound_manager/';
                            soundManager.debugMode = false;
                            soundManager.consoleOnly = false;

                            soundManager.onready(function() {
                                window.sounds.new_message = soundManager.createSound({
                                    id:'new_message',
                                    url:'/source/js/sound_manager/sound.mp3'
                                });
                            });

                        });
                    });

                    window.ms = {
                        address: "{{globals.message_server}}",
                        uniq_key: "{{globals.user.uniq_key}}"
                    }
                </script>
                {% endif %}
                {% block js %}{% endblock %}
    </head>
    <body style="width: 100%;background: #fff;">
        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%">
            <tr>
                <td>
                    {% block body %}
                    {% endblock %}
                </td>
            </tr>
        </table>
    </body>
</html>