{% extends "/source/wrapper_index.html" %}
{% block js %}
    <script type ="text/javascript" src="{{app.index__js}}about.js"></script>
{% endblock %}
{% block wrapper %}
    <tr>
        <td style="height:10px;width:997px;height:393px;" colspan="2" class="rotator">
        </td>
    </tr>
    <tr>
        <td class="left_side transparent_back">
            <div style="position: relative;min-height: 250px;">
                <img src="/source/images/list.png" class="main_list">
                {% block body %}
                {% endblock %}
            </div>
        </td>
        <td class="right_side white_back">
            <div style="position: relative;overflow:hidden;min-height: 250px;" class="content">
            {% block rightside %}
            &nbsp;
            {% endblock %}
            </div>
        </td>
    </tr>
{% endblock %}