<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" user-scalable="yes"/>

</head>


<div id="fb-root" style="display:none"></div>


<body style="padding: 0 0 0 0; margin: 0; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; background: #222;background-image: url('https://static3.mailerlite.com/images/builder/background/ao.gif');"
      bgcolor="#222" >

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#222" style="background-image: url('https://static3.mailerlite.com/images/builder/background/ao.gif');">
    <tr>
        <td width="100%" align="center" valign="top" style="min-width: 640px;">
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="margin-top: 50px;" bgcolor="#FFFFFF" width="640">
                <tr>
                    <td align="left" style="padding: 15px 20px;">
                        <h1 style="margin-bottom: 0px;margin-top: 0px; font-family: Arial; font-size: 32px; color: #444; font-weight: bold;">
                            head<span style="color:#f9840e;">task</span>
                        </h1>
                    </td>
                </tr>
            </table>

            <table align="center" width="640" cellpadding="0" bgcolor="#FFFFFF" cellspacing="0" border="0" style="">
                <tr>
                    <td align="left" style="padding: 15px 50px;">
                        <h1 style="margin: 0px; font-family: Arial; font-weight: normal; font-size: 25px; color: #444;">
                            {% block title %}{% endblock %}
                        </h1>
                    </td>
                </tr>
            </table>


            <table align="center" width="640" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" style="">
                <tr>
                    <td align="left" style="padding: 15px 50px 20px 50px; font-family: Arial; font-size: 13px; color: #444; line-height: 150%;">
                        <p style="margin: 0px 0px 10px 0px;line-height: 150%;">
                            {% block body %}{% endblock %}
                        </p>
                    </td>
                </tr>
            </table>

            <table align="center" width="640" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 50px;" bgcolor="#444">
                <tr>
                    <td style="padding: 20px 20px;" width="640">
                        <a href="https://headtask.ru" style="color:#fff;font-weight: normal;text-decoration: none;">headtask.ru</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

