{% macro input(f,name,label) %}
    {% if label %}&nbsp;{{f.label|raw}}{% endif %}
    {% if f.type == 'select' or f.type == 'multy_select' %}
    <select name="{{name}}{% if f.type == "multy_select" %}[]{% endif %}" {% if f.type == 'multy_select' %}multiple='true' size='{% if f.options|length > 5 %}5{% else %}{{f.options|length}}{% endif %}'{% endif %}>
    {% for j,o in f.options %}
    <option value="{{j}}" {% if j in f.selected %}selected{% endif %}>{{o}}</option>
    {% endfor %}
    </select>
    {% elseif f.type == "checkbox" %}
    <input type='checkbox' name='{{name}}' {% if f.selected %}checked{% endif %} style="margin-top:-2px;">
    {% endif %}
{% endmacro %}