{% macro input(f,name,label) %}
    {% if label and f.type == 'text' %}&nbsp;{{f.label|raw}}{% endif %}
    {% if f.type == 'select' or f.type == 'multy_select' %}
    <select name="{{name}}{% if f.type == "multy_select" %}[]{% endif %}" {% if f.type == 'multy_select' %}multiple='true' size='{% if f.options|length > 5 %}5{% else %}{{f.options|length}}{% endif %}'{% endif %}>
    {% for j,o in f.options %}
    <option value="{{j}}" {% if j in f.selected %}selected{% endif %}>{{o}}</option>
    {% endfor %}
    </select>
    {% elseif f.type == "checkbox" %}
        {% if f.options  %}
            {% for j,o in f.options %}
                {% if f.wrapper %}<{{ f.wrapper }} style="white-space: nowrap;" {% if f.class %} class="{{ f.class }}"{% endif %}>
                {% else %}<span style="white-space: nowrap;" {% if f.class %} class="{{ f.class }}"{% endif %}>
                {% endif %}

                <input type='checkbox' name='{{name}}[]' value="{{ j }}" {% if j in f.selected %}checked{% endif %} style="margin-top:-2px;"> {{ o }}

                {% if f.wrapper %}</{{ f.wrapper }}>
                {% else %}</span>
                {% endif %}
            {% endfor %}
            {% else %}
                {% if f.wrapper %}<{{ f.wrapper }} {% if f.class %} class="{{ f.class }}"{% endif %}>
                {% else %}<span {% if f.class %} class="{{ f.class }}"{% endif %}>
                {% endif %}

                <input type='checkbox' style="white-space: nowrap;" name='{{name}}' {% if f.selected %}checked{% endif %} style="margin-top:-2px;"> {{ f.label }}

                {% if f.wrapper %}</{{ f.wrapper }}>
                {% else %}</span>
                {% endif %}
        {% endif %}
    {% elseif f.type == "radio" %}
        {% for j,o in f.options %}
            <div style="white-space: nowrap;"><input name="{{ name }}" type="radio" value="{{j}}" {% if j in f.selected %}checked{% endif %}> {{o}}</div>
        {% endfor %}
    {% endif %}
    {% if label and f.type != 'text' and f.type != 'checkbox'%}&nbsp;{{f.label|raw}}{% endif %}
{% endmacro %}