<!DOCTYPE html>
<html>
<head>
    <title>Task me! {% block title %}{% endblock %}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/source/js/styler/jquery.formstyler.css" type="text/css" />
    <link href="/source/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/admin/fonts/font-awesome/css/font-awesome.minba72.css?v=4.0.3" rel="stylesheet">
    <link rel="stylesheet" href="/source/css/jquery.jgrowl.css" type="text/css" />
    <link rel="stylesheet" href="/source/css/popup.css" type="text/css" />
    <link rel="stylesheet" href="/source/css/content.css" type="text/css" />
    <link rel="stylesheet" href="/source/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" />
    {% block css %}
    {% endblock %}
    <script src="/source/js/jquery.min.js"></script>
    <script src="/source/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/source/js/jquery.jgrowl_minimized.js"></script>
    <script src="/source/js/functions.js"></script>
    <script src="/source/js/message.js"></script>
    <script src="/source/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/source/js/styler/jquery.formstyler.js"></script>
    <script>
        $(document).ready(function($) {
            $('#wrap input, #wrap select').styler();

           // var randomColor = "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
           // $("a").css("color",randomColor);
            setInterval( function() {
                var height = 0;
                var psp = $("#projects_second_panel").innerHeight();
                var pmp = $("#sidebar").innerHeight();
                console.log(psp+" - "+pmp);

                if (psp >= pmp) height = psp;
                else height = pmp;

                $('#sidebar .well,#projects_second_panel .jumbotron').css({
                    'min-height': height
                });
            }, 100);
        });
    </script>
    {% block js %}
    {% endblock %}
</head>
<body>
<div id="wrap">
    {% if globals.user %}{% include "/source/menu.html" %}{% endif %}
    <div class="from_top"></div>
    {% block body %}{% endblock %}
</div>
{% include "/source/footer.html" %}
</body>
</html>