body {
    overflow-y: scroll;
    min-width: 320px;
    background: url(/source/images/login_back.jpg) no-repeat;
}

#page-content-wrapper {
    padding-left : 0;
    padding-right: 0;
}

.form-signin {
    width: 250px;
    margin: 100px auto 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.alert-danger {
    margin-top: 10px;
}

#wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#wrapper .fa-caret-left, #wrapper .fa-caret-right {
    display: none;
}

#sidebar_right {
    display: none;
}